Caches: 111, Entries: 24437, Size: 89809566

<table border="1" cellpadding="4">
	<tr>
		<td>Name</td>
		<td>Count</td>
		<td>Size</td>
		<td>MaxSize</td>
	</tr>
	<tr>
		<td>[FieldReaderCache]</td>
		<td>0</td>
		<td>0</td>
		<td>5MB</td>
	</tr>
	<tr>
		<td>[IDTable]</td>
		<td>0</td>
		<td>0</td>
		<td>2.44MB</td>
	</tr>
	<tr>
		<td>[no name]</td>
		<td>0</td>
		<td>0</td>
		<td>976.56KB</td>
	</tr>
	<tr>
		<td>[no name]</td>
		<td>0</td>
		<td>0</td>
		<td>976.56KB</td>
	</tr>
	<tr>
		<td>[no name]</td>
		<td>0</td>
		<td>0</td>
		<td>976.56KB</td>
	</tr>
	<tr>
		<td>[no name]</td>
		<td>0</td>
		<td>0</td>
		<td>976.56KB</td>
	</tr>
	<tr>
		<td>[no name]</td>
		<td>1</td>
		<td>1.01KB</td>
		<td>976.56KB</td>
	</tr>
	<tr>
		<td>AccessResultCache</td>
		<td>844</td>
		<td>44.51KB</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>ActiveTests</td>
		<td>22</td>
		<td>1.01KB</td>
		<td>512KB</td>
	</tr>
	<tr>
		<td>admin[filtered items]</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>admin[html]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>admin[registry]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>admin[viewstate]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>admin[xsl]</td>
		<td>0</td>
		<td>0</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>clientData</td>
		<td>1</td>
		<td>50</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>core[blobIDs]</td>
		<td>0</td>
		<td>0</td>
		<td>500KB</td>
	</tr>
	<tr>
		<td>core[data]</td>
		<td>4400</td>
		<td>12.49MB</td>
		<td>100MB</td>
	</tr>
	<tr>
		<td>core[itempaths]</td>
		<td>598</td>
		<td>17.52KB</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>core[items]</td>
		<td>1365</td>
		<td>6.55MB</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>core[paths]</td>
		<td>69</td>
		<td>8.49KB</td>
		<td>2.44MB</td>
	</tr>
	<tr>
		<td>core[standardValues]</td>
		<td>88</td>
		<td>31.39KB</td>
		<td>2.44MB</td>
	</tr>
	<tr>
		<td>DeviceItemsCache</td>
		<td>2</td>
		<td>200</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>ExperienceAnalytics.Segments</td>
		<td>1</td>
		<td>1.37KB</td>
		<td>20MB</td>
	</tr>
	<tr>
		<td>filesystem[blobIDs]</td>
		<td>0</td>
		<td>0</td>
		<td>500KB</td>
	</tr>
	<tr>
		<td>filesystem[data]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>filesystem[itempaths]</td>
		<td>0</td>
		<td>0</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>filesystem[items]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>filesystem[paths]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>filesystem[standardValues]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>IsUserInRoleCache</td>
		<td>11</td>
		<td>374</td>
		<td>5MB</td>
	</tr>
	<tr>
		<td>ItemCloningRelations</td>
		<td>844</td>
		<td>41.21KB</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>LanguageProvider - Languages</td>
		<td>3</td>
		<td>210</td>
		<td>100KB</td>
	</tr>
	<tr>
		<td>Log singles</td>
		<td>1</td>
		<td>50</td>
		<td>100KB</td>
	</tr>
	<tr>
		<td>login[filtered items]</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>login[html]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>login[registry]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>login[viewstate]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>login[xsl]</td>
		<td>0</td>
		<td>0</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>master[blobIDs]</td>
		<td>1</td>
		<td>78</td>
		<td>500KB</td>
	</tr>
	<tr>
		<td>master[data]</td>
		<td>2456</td>
		<td>6.74MB</td>
		<td>100MB</td>
	</tr>
	<tr>
		<td>master[itempaths]</td>
		<td>325</td>
		<td>9.52KB</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>master[items]</td>
		<td>723</td>
		<td>3.47MB</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>master[paths]</td>
		<td>55</td>
		<td>6.67KB</td>
		<td>2.44MB</td>
	</tr>
	<tr>
		<td>master[standardValues]</td>
		<td>57</td>
		<td>37.41KB</td>
		<td>2.44MB</td>
	</tr>
	<tr>
		<td>modules_shell[filtered items]</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>modules_shell[html]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>modules_shell[registry]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>modules_shell[viewstate]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>modules_shell[xsl]</td>
		<td>0</td>
		<td>0</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>modules_website[filtered items]</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>modules_website[html]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>modules_website[registry]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>modules_website[viewstate]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>modules_website[xsl]</td>
		<td>0</td>
		<td>0</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>ProxyProvider</td>
		<td>0</td>
		<td>0</td>
		<td>500KB</td>
	</tr>
	<tr>
		<td>publisher[filtered items]</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>publisher[html]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>publisher[registry]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>publisher[viewstate]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>publisher[xsl]</td>
		<td>0</td>
		<td>0</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>ReportDataCache</td>
		<td>3</td>
		<td>282</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>ReportingStorageProviderProperties.Properties</td>
		<td>3</td>
		<td>90</td>
		<td>100</td>
	</tr>
	<tr>
		<td>RequestProtection.HashCache</td>
		<td>1</td>
		<td>130</td>
		<td>3MB</td>
	</tr>
	<tr>
		<td>rules</td>
		<td>22</td>
		<td>352.64KB</td>
		<td>800KB</td>
	</tr>
	<tr>
		<td>scheduler[filtered items]</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>scheduler[html]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>scheduler[registry]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>scheduler[viewstate]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>scheduler[xsl]</td>
		<td>0</td>
		<td>0</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>service[filtered items]</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>service[html]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>service[registry]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>service[viewstate]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>service[xsl]</td>
		<td>0</td>
		<td>0</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>shell[filtered items]</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>shell[html]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>shell[registry]</td>
		<td>61</td>
		<td>3.1KB</td>
		<td>15MB</td>
	</tr>
	<tr>
		<td>shell[viewstate]</td>
		<td>5</td>
		<td>132.8KB</td>
		<td>1MB</td>
	</tr>
	<tr>
		<td>shell[xsl]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>SocialMessagesByContainerCache</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>SqlDataProvider - Prefetch data(core)</td>
		<td>5121</td>
		<td>32.24MB</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>SqlDataProvider - Prefetch data(master)</td>
		<td>2713</td>
		<td>15.3MB</td>
		<td>100MB</td>
	</tr>
	<tr>
		<td>SqlDataProvider - Prefetch data(web)</td>
		<td>2445</td>
		<td>5.6MB</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>SqlDataProvider - Property data(core)</td>
		<td>13</td>
		<td>3.38KB</td>
		<td>500KB</td>
	</tr>
	<tr>
		<td>SqlDataProvider - Property data(master)</td>
		<td>1</td>
		<td>64</td>
		<td>500KB</td>
	</tr>
	<tr>
		<td>SqlDataProvider - Property data(web)</td>
		<td>1</td>
		<td>62</td>
		<td>500KB</td>
	</tr>
	<tr>
		<td>system[filtered items]</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>system[html]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>system[registry]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>system[viewstate]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>system[xsl]</td>
		<td>0</td>
		<td>0</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>Task Manager - tasks</td>
		<td>0</td>
		<td>0</td>
		<td>100</td>
	</tr>
	<tr>
		<td>taxonomy.assets</td>
		<td>0</td>
		<td>0</td>
		<td>20MB</td>
	</tr>
	<tr>
		<td>taxonomy.campaigngroups</td>
		<td>0</td>
		<td>0</td>
		<td>20MB</td>
	</tr>
	<tr>
		<td>taxonomy.channels</td>
		<td>0</td>
		<td>0</td>
		<td>20MB</td>
	</tr>
	<tr>
		<td>Theme_Images</td>
		<td>3</td>
		<td>840</td>
		<td>100KB</td>
	</tr>
	<tr>
		<td>Theme_LanguageIcons</td>
		<td>0</td>
		<td>0</td>
		<td>100KB</td>
	</tr>
	<tr>
		<td>UserProfileCache</td>
		<td>14</td>
		<td>700</td>
		<td>5MB</td>
	</tr>
	<tr>
		<td>web[blobIDs]</td>
		<td>0</td>
		<td>0</td>
		<td>500KB</td>
	</tr>
	<tr>
		<td>web[data]</td>
		<td>2114</td>
		<td>2.54MB</td>
		<td>100MB</td>
	</tr>
	<tr>
		<td>web[itempaths]</td>
		<td>6</td>
		<td>180</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>web[items]</td>
		<td>8</td>
		<td>39.3KB</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>web[paths]</td>
		<td>0</td>
		<td>0</td>
		<td>2.44MB</td>
	</tr>
	<tr>
		<td>web[standardValues]</td>
		<td>1</td>
		<td>930</td>
		<td>2.44MB</td>
	</tr>
	<tr>
		<td>website[filtered items]</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>website[html]</td>
		<td>0</td>
		<td>0</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>website[registry]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>website[renderingParameters]</td>
		<td>9</td>
		<td>450</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>website[viewstate]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>website[xsl]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>WebUtil.QueryStringCache</td>
		<td>26</td>
		<td>780</td>
		<td>19.53KB</td>
	</tr>
</table>
