Caches: 110, Entries: 18583, Size: 76401271

<table border="1" cellpadding="4">
	<tr>
		<td>Name</td>
		<td>Count</td>
		<td>Size</td>
		<td>MaxSize</td>
	</tr>
	<tr>
		<td>[FieldReaderCache]</td>
		<td>0</td>
		<td>0</td>
		<td>5MB</td>
	</tr>
	<tr>
		<td>[IDTable]</td>
		<td>0</td>
		<td>0</td>
		<td>2.44MB</td>
	</tr>
	<tr>
		<td>[no name]</td>
		<td>1</td>
		<td>1.01KB</td>
		<td>976.56KB</td>
	</tr>
	<tr>
		<td>[no name]</td>
		<td>0</td>
		<td>0</td>
		<td>976.56KB</td>
	</tr>
	<tr>
		<td>[no name]</td>
		<td>1</td>
		<td>1.01KB</td>
		<td>976.56KB</td>
	</tr>
	<tr>
		<td>[no name]</td>
		<td>0</td>
		<td>0</td>
		<td>976.56KB</td>
	</tr>
	<tr>
		<td>[no name]</td>
		<td>1</td>
		<td>1.01KB</td>
		<td>976.56KB</td>
	</tr>
	<tr>
		<td>AccessResultCache</td>
		<td>363</td>
		<td>19.14KB</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>ActiveTests</td>
		<td>11</td>
		<td>517</td>
		<td>512KB</td>
	</tr>
	<tr>
		<td>admin[filtered items]</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>admin[html]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>admin[registry]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>admin[viewstate]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>admin[xsl]</td>
		<td>0</td>
		<td>0</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>clientData</td>
		<td>1</td>
		<td>1.38KB</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>core[blobIDs]</td>
		<td>0</td>
		<td>0</td>
		<td>500KB</td>
	</tr>
	<tr>
		<td>core[data]</td>
		<td>4001</td>
		<td>11.58MB</td>
		<td>100MB</td>
	</tr>
	<tr>
		<td>core[itempaths]</td>
		<td>337</td>
		<td>9.87KB</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>core[items]</td>
		<td>747</td>
		<td>3.58MB</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>core[paths]</td>
		<td>26</td>
		<td>3.2KB</td>
		<td>2.44MB</td>
	</tr>
	<tr>
		<td>core[standardValues]</td>
		<td>56</td>
		<td>17.95KB</td>
		<td>2.44MB</td>
	</tr>
	<tr>
		<td>DeviceItemsCache</td>
		<td>2</td>
		<td>200</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>ExperienceAnalytics.Segments</td>
		<td>1</td>
		<td>1.37KB</td>
		<td>20MB</td>
	</tr>
	<tr>
		<td>filesystem[blobIDs]</td>
		<td>0</td>
		<td>0</td>
		<td>500KB</td>
	</tr>
	<tr>
		<td>filesystem[data]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>filesystem[itempaths]</td>
		<td>0</td>
		<td>0</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>filesystem[items]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>filesystem[paths]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>filesystem[standardValues]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>IsUserInRoleCache</td>
		<td>0</td>
		<td>0</td>
		<td>5MB</td>
	</tr>
	<tr>
		<td>ItemCloningRelations</td>
		<td>518</td>
		<td>25.29KB</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>LanguageProvider - Languages</td>
		<td>2</td>
		<td>160</td>
		<td>100KB</td>
	</tr>
	<tr>
		<td>Log singles</td>
		<td>2</td>
		<td>100</td>
		<td>100KB</td>
	</tr>
	<tr>
		<td>login[filtered items]</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>login[html]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>login[registry]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>login[viewstate]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>login[xsl]</td>
		<td>0</td>
		<td>0</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>master[blobIDs]</td>
		<td>1</td>
		<td>78</td>
		<td>500KB</td>
	</tr>
	<tr>
		<td>master[data]</td>
		<td>2342</td>
		<td>6.51MB</td>
		<td>100MB</td>
	</tr>
	<tr>
		<td>master[itempaths]</td>
		<td>86</td>
		<td>2.52KB</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>master[items]</td>
		<td>351</td>
		<td>1.68MB</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>master[paths]</td>
		<td>26</td>
		<td>3.15KB</td>
		<td>2.44MB</td>
	</tr>
	<tr>
		<td>master[standardValues]</td>
		<td>49</td>
		<td>32.78KB</td>
		<td>2.44MB</td>
	</tr>
	<tr>
		<td>modules_shell[filtered items]</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>modules_shell[html]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>modules_shell[registry]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>modules_shell[viewstate]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>modules_shell[xsl]</td>
		<td>0</td>
		<td>0</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>modules_website[filtered items]</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>modules_website[html]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>modules_website[registry]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>modules_website[viewstate]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>modules_website[xsl]</td>
		<td>0</td>
		<td>0</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>ProxyProvider</td>
		<td>0</td>
		<td>0</td>
		<td>500KB</td>
	</tr>
	<tr>
		<td>publisher[filtered items]</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>publisher[html]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>publisher[registry]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>publisher[viewstate]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>publisher[xsl]</td>
		<td>0</td>
		<td>0</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>ReportDataCache</td>
		<td>1</td>
		<td>94</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>ReportingStorageProviderProperties.Properties</td>
		<td>3</td>
		<td>90</td>
		<td>100</td>
	</tr>
	<tr>
		<td>RequestProtection.HashCache</td>
		<td>1</td>
		<td>130</td>
		<td>3MB</td>
	</tr>
	<tr>
		<td>rules</td>
		<td>3</td>
		<td>48.09KB</td>
		<td>800KB</td>
	</tr>
	<tr>
		<td>scheduler[filtered items]</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>scheduler[html]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>scheduler[registry]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>scheduler[viewstate]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>scheduler[xsl]</td>
		<td>0</td>
		<td>0</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>service[filtered items]</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>service[html]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>service[registry]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>service[viewstate]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>service[xsl]</td>
		<td>0</td>
		<td>0</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>shell[filtered items]</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>shell[html]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>shell[registry]</td>
		<td>1</td>
		<td>50</td>
		<td>15MB</td>
	</tr>
	<tr>
		<td>shell[viewstate]</td>
		<td>2</td>
		<td>3.06KB</td>
		<td>1MB</td>
	</tr>
	<tr>
		<td>shell[xsl]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>SocialMessagesByContainerCache</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>SqlDataProvider - Prefetch data(core)</td>
		<td>4799</td>
		<td>29.8MB</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>SqlDataProvider - Prefetch data(master)</td>
		<td>2614</td>
		<td>14.52MB</td>
		<td>100MB</td>
	</tr>
	<tr>
		<td>SqlDataProvider - Prefetch data(web)</td>
		<td>2183</td>
		<td>4.97MB</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>SqlDataProvider - Property data(core)</td>
		<td>4</td>
		<td>714</td>
		<td>500KB</td>
	</tr>
	<tr>
		<td>SqlDataProvider - Property data(master)</td>
		<td>2</td>
		<td>146</td>
		<td>500KB</td>
	</tr>
	<tr>
		<td>SqlDataProvider - Property data(web)</td>
		<td>1</td>
		<td>62</td>
		<td>500KB</td>
	</tr>
	<tr>
		<td>system[filtered items]</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>system[html]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>system[registry]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>system[viewstate]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
	<tr>
		<td>system[xsl]</td>
		<td>0</td>
		<td>0</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>Task Manager - tasks</td>
		<td>0</td>
		<td>0</td>
		<td>100</td>
	</tr>
	<tr>
		<td>taxonomy.assets</td>
		<td>0</td>
		<td>0</td>
		<td>20MB</td>
	</tr>
	<tr>
		<td>taxonomy.campaigngroups</td>
		<td>0</td>
		<td>0</td>
		<td>20MB</td>
	</tr>
	<tr>
		<td>taxonomy.channels</td>
		<td>0</td>
		<td>0</td>
		<td>20MB</td>
	</tr>
	<tr>
		<td>Theme_Images</td>
		<td>3</td>
		<td>840</td>
		<td>100KB</td>
	</tr>
	<tr>
		<td>Theme_LanguageIcons</td>
		<td>0</td>
		<td>0</td>
		<td>100KB</td>
	</tr>
	<tr>
		<td>UserProfileCache</td>
		<td>14</td>
		<td>700</td>
		<td>5MB</td>
	</tr>
	<tr>
		<td>web[blobIDs]</td>
		<td>0</td>
		<td>0</td>
		<td>500KB</td>
	</tr>
	<tr>
		<td>web[data]</td>
		<td>6</td>
		<td>11.01KB</td>
		<td>100MB</td>
	</tr>
	<tr>
		<td>web[itempaths]</td>
		<td>6</td>
		<td>180</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>web[items]</td>
		<td>7</td>
		<td>34.38KB</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>web[paths]</td>
		<td>0</td>
		<td>0</td>
		<td>2.44MB</td>
	</tr>
	<tr>
		<td>web[standardValues]</td>
		<td>0</td>
		<td>0</td>
		<td>2.44MB</td>
	</tr>
	<tr>
		<td>website[filtered items]</td>
		<td>0</td>
		<td>0</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>website[html]</td>
		<td>0</td>
		<td>0</td>
		<td>50MB</td>
	</tr>
	<tr>
		<td>website[registry]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>website[renderingParameters]</td>
		<td>8</td>
		<td>400</td>
		<td>10MB</td>
	</tr>
	<tr>
		<td>website[viewstate]</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
	<tr>
		<td>website[xsl]</td>
		<td>0</td>
		<td>0</td>
		<td>25MB</td>
	</tr>
</table>
