<table border="1" cellpadding="2">
	<tr>
		<td>Rendering</td>
		<td>Site</td>
		<td>Count</td>
		<td>From cache</td>
		<td>Avg. time (ms)</td>
		<td>Avg. items</td>
		<td>Max. time</td>
		<td>Max. items</td>
		<td>Total time</td>
		<td>Total items</td>
		<td>Last run</td>
	</tr>
	<tr>
		<td> (Application_a_310)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.7118</td>
		<td>4</td>
		<td>0.7118</td>
		<td>4</td>
		<td>00:00:00.0007118</td>
		<td>4</td>
		<td>21/08/2015 9:12:16 AM</td>
	</tr>
	<tr>
		<td> (Border)</td>
		<td>shell</td>
		<td>58</td>
		<td>0</td>
		<td>12.3878</td>
		<td>31</td>
		<td>570.1921</td>
		<td>1473</td>
		<td>00:00:00.7184968</td>
		<td>1847</td>
		<td>21/08/2015 9:12:49 AM</td>
	</tr>
	<tr>
		<td> (Button)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1938</td>
		<td>2</td>
		<td>0.1938</td>
		<td>2</td>
		<td>00:00:00.0001938</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td> (Confirm_a_340)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.5319</td>
		<td>16</td>
		<td>0.5319</td>
		<td>16</td>
		<td>00:00:00.0005319</td>
		<td>16</td>
		<td>21/08/2015 9:12:49 AM</td>
	</tr>
	<tr>
		<td> (DocumentType)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>0.057</td>
		<td>0</td>
		<td>0.3713</td>
		<td>0</td>
		<td>00:00:00.0003996</td>
		<td>0</td>
		<td>21/08/2015 9:12:49 AM</td>
	</tr>
	<tr>
		<td> (DucatShell_a_303)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>572.1522</td>
		<td>1480</td>
		<td>572.1522</td>
		<td>1480</td>
		<td>00:00:00.5721522</td>
		<td>1480</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td> (Favicon)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.4002</td>
		<td>2</td>
		<td>0.4002</td>
		<td>2</td>
		<td>00:00:00.0004002</td>
		<td>2</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td> (FormDialog_a_331)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.5216</td>
		<td>16</td>
		<td>0.5216</td>
		<td>16</td>
		<td>00:00:00.0005216</td>
		<td>16</td>
		<td>21/08/2015 9:12:49 AM</td>
	</tr>
	<tr>
		<td> (FormPage_a_305)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>109.0065</td>
		<td>293</td>
		<td>572.02</td>
		<td>1480</td>
		<td>00:00:00.6540393</td>
		<td>1763</td>
		<td>21/08/2015 9:12:49 AM</td>
	</tr>
	<tr>
		<td> (GenericControl)</td>
		<td>shell</td>
		<td>104</td>
		<td>0</td>
		<td>21.0783</td>
		<td>56</td>
		<td>571.6103</td>
		<td>1480</td>
		<td>00:00:02.1921435</td>
		<td>5911</td>
		<td>21/08/2015 9:12:49 AM</td>
	</tr>
	<tr>
		<td> (GlobalKeys_a_308)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>0.0034</td>
		<td>0</td>
		<td>0.0066</td>
		<td>0</td>
		<td>00:00:00.0000241</td>
		<td>0</td>
		<td>21/08/2015 9:12:49 AM</td>
	</tr>
	<tr>
		<td> (GridPanel)</td>
		<td>shell</td>
		<td>19</td>
		<td>0</td>
		<td>0.9143</td>
		<td>12</td>
		<td>6.4217</td>
		<td>52</td>
		<td>00:00:00.0173734</td>
		<td>246</td>
		<td>21/08/2015 9:12:49 AM</td>
	</tr>
	<tr>
		<td> (Groupbox)</td>
		<td>shell</td>
		<td>4</td>
		<td>0</td>
		<td>1.0087</td>
		<td>11</td>
		<td>1.851</td>
		<td>16</td>
		<td>00:00:00.0040351</td>
		<td>44</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td> (Image)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0093</td>
		<td>0</td>
		<td>0.0093</td>
		<td>0</td>
		<td>00:00:00.0000093</td>
		<td>0</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td> (ImageButton)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>0.2957</td>
		<td>2</td>
		<td>0.7075</td>
		<td>2</td>
		<td>00:00:00.0008872</td>
		<td>6</td>
		<td>21/08/2015 9:12:15 AM</td>
	</tr>
	<tr>
		<td> (Installer_AddFileSource_a_321)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>69.8368</td>
		<td>129</td>
		<td>69.8368</td>
		<td>129</td>
		<td>00:00:00.0698368</td>
		<td>129</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td> (Installer_Browse_a_330)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>3.5141</td>
		<td>44</td>
		<td>3.5141</td>
		<td>44</td>
		<td>00:00:00.0035141</td>
		<td>44</td>
		<td>21/08/2015 9:12:26 AM</td>
	</tr>
	<tr>
		<td> (Installer_BuildPackage_a_338)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>5.9432</td>
		<td>36</td>
		<td>5.9432</td>
		<td>36</td>
		<td>00:00:00.0059432</td>
		<td>36</td>
		<td>21/08/2015 9:12:47 AM</td>
	</tr>
	<tr>
		<td> (Installer_Designer_a_315)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>2.4826</td>
		<td>58</td>
		<td>2.4826</td>
		<td>58</td>
		<td>00:00:00.0024826</td>
		<td>58</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td> (KeyMap)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>2.2086</td>
		<td>12</td>
		<td>14.7942</td>
		<td>41</td>
		<td>00:00:00.0154604</td>
		<td>85</td>
		<td>21/08/2015 9:12:49 AM</td>
	</tr>
	<tr>
		<td> (Label)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0972</td>
		<td>2</td>
		<td>0.1729</td>
		<td>2</td>
		<td>00:00:00.0001944</td>
		<td>4</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td> (ListviewViewsMenuItems_a_332)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0039</td>
		<td>0</td>
		<td>0.0039</td>
		<td>0</td>
		<td>00:00:00.0000039</td>
		<td>0</td>
		<td>21/08/2015 9:12:26 AM</td>
	</tr>
	<tr>
		<td> (Literal)</td>
		<td>shell</td>
		<td>75</td>
		<td>0</td>
		<td>0.0375</td>
		<td>1</td>
		<td>0.3323</td>
		<td>2</td>
		<td>00:00:00.0028179</td>
		<td>149</td>
		<td>21/08/2015 9:12:49 AM</td>
	</tr>
	<tr>
		<td> (MenuDivider)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0738</td>
		<td>0</td>
		<td>0.1461</td>
		<td>0</td>
		<td>00:00:00.0001476</td>
		<td>0</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td> (RegisterKey)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>0.0157</td>
		<td>0</td>
		<td>0.1038</td>
		<td>0</td>
		<td>00:00:00.0001104</td>
		<td>0</td>
		<td>21/08/2015 9:12:49 AM</td>
	</tr>
	<tr>
		<td> (Scrollbox)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>9.5753</td>
		<td>25</td>
		<td>60.0486</td>
		<td>57</td>
		<td>00:00:00.0670276</td>
		<td>177</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td> (Shell_a_304)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>572.0369</td>
		<td>1480</td>
		<td>572.0369</td>
		<td>1480</td>
		<td>00:00:00.5720369</td>
		<td>1480</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td> (Space)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.0375</td>
		<td>0</td>
		<td>0.2173</td>
		<td>0</td>
		<td>00:00:00.0002251</td>
		<td>0</td>
		<td>21/08/2015 9:12:28 AM</td>
	</tr>
	<tr>
		<td> (StandardWindowButtons_a_313)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0377</td>
		<td>0</td>
		<td>0.0377</td>
		<td>0</td>
		<td>00:00:00.0000377</td>
		<td>0</td>
		<td>21/08/2015 9:12:16 AM</td>
	</tr>
	<tr>
		<td> (Startbar_a_309)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>568.5678</td>
		<td>1473</td>
		<td>568.5678</td>
		<td>1473</td>
		<td>00:00:00.5685678</td>
		<td>1473</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td> (ThemedImage)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>0.095</td>
		<td>0</td>
		<td>0.1442</td>
		<td>0</td>
		<td>00:00:00.0002852</td>
		<td>0</td>
		<td>21/08/2015 9:12:49 AM</td>
	</tr>
	<tr>
		<td> (Toolbar)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.2002</td>
		<td>24</td>
		<td>1.2002</td>
		<td>24</td>
		<td>00:00:00.0012002</td>
		<td>24</td>
		<td>21/08/2015 9:12:26 AM</td>
	</tr>
	<tr>
		<td> (Toolbutton)</td>
		<td>shell</td>
		<td>9</td>
		<td>0</td>
		<td>0.2734</td>
		<td>6</td>
		<td>0.546</td>
		<td>6</td>
		<td>00:00:00.0024608</td>
		<td>54</td>
		<td>21/08/2015 9:12:47 AM</td>
	</tr>
	<tr>
		<td> (TreeHeader)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2366</td>
		<td>0</td>
		<td>0.2366</td>
		<td>0</td>
		<td>00:00:00.0002366</td>
		<td>0</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td> (WebPanel_a_306)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>93.5271</td>
		<td>252</td>
		<td>572.0034</td>
		<td>1480</td>
		<td>00:00:00.6546901</td>
		<td>1767</td>
		<td>21/08/2015 9:12:49 AM</td>
	</tr>
	<tr>
		<td> (WindowButton_a_314)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>0.0051</td>
		<td>0</td>
		<td>0.0114</td>
		<td>0</td>
		<td>00:00:00.0000153</td>
		<td>0</td>
		<td>21/08/2015 9:12:16 AM</td>
	</tr>
	<tr>
		<td> (WindowChrome_a_311)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.46</td>
		<td>2</td>
		<td>0.46</td>
		<td>2</td>
		<td>00:00:00.0004600</td>
		<td>2</td>
		<td>21/08/2015 9:12:16 AM</td>
	</tr>
	<tr>
		<td> (WizardForm_a_322)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>37.7764</td>
		<td>82</td>
		<td>69.7339</td>
		<td>129</td>
		<td>00:00:00.0755528</td>
		<td>165</td>
		<td>21/08/2015 9:12:47 AM</td>
	</tr>
	<tr>
		<td> (WizardFormIndent_a_324)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>12.3635</td>
		<td>19</td>
		<td>64.5779</td>
		<td>57</td>
		<td>00:00:00.0741811</td>
		<td>119</td>
		<td>21/08/2015 9:12:47 AM</td>
	</tr>
	<tr>
		<td>__ActiveRibbonStrip (GenericControl)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0027</td>
		<td>0</td>
		<td>0.0027</td>
		<td>0</td>
		<td>00:00:00.0000027</td>
		<td>0</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>AppFrame (Frame)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0102</td>
		<td>0</td>
		<td>0.0102</td>
		<td>0</td>
		<td>00:00:00.0000102</td>
		<td>0</td>
		<td>21/08/2015 9:12:16 AM</td>
	</tr>
	<tr>
		<td>ApplicationMenu (DataContextMenu)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0135</td>
		<td>0</td>
		<td>0.0135</td>
		<td>0</td>
		<td>00:00:00.0000135</td>
		<td>0</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>ApplicationMenu_3B9A86C963574EA892A3EF37EAF6419F (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0673</td>
		<td>2</td>
		<td>0.0673</td>
		<td>2</td>
		<td>00:00:00.0000673</td>
		<td>2</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>ApplicationMenu_4C3FCAD21C7C4FA48A66206A2F5EB8FE (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.9808</td>
		<td>2</td>
		<td>1.9808</td>
		<td>2</td>
		<td>00:00:00.0019808</td>
		<td>2</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>ApplicationMenu_5208430BBE6C4407BC51D89F35C55A94 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.051</td>
		<td>2</td>
		<td>0.051</td>
		<td>2</td>
		<td>00:00:00.0000510</td>
		<td>2</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>ApplicationMenu_8919DF9D732F4E7EAC2B4C01C03D2CEE (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1322</td>
		<td>2</td>
		<td>0.1322</td>
		<td>2</td>
		<td>00:00:00.0001322</td>
		<td>2</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>ApplicationMenu_A572ABA502B446F6862BDD6C220B3E83 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1008</td>
		<td>2</td>
		<td>0.1008</td>
		<td>2</td>
		<td>00:00:00.0001008</td>
		<td>2</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>ApplyFilters (WizardFormPage_a_323)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>4.1806</td>
		<td>46</td>
		<td>4.1806</td>
		<td>46</td>
		<td>00:00:00.0041806</td>
		<td>46</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>B75238469 (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0259</td>
		<td>2</td>
		<td>0.0259</td>
		<td>2</td>
		<td>00:00:00.0000259</td>
		<td>2</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>B75238513 (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0262</td>
		<td>2</td>
		<td>0.0262</td>
		<td>2</td>
		<td>00:00:00.0000262</td>
		<td>2</td>
		<td>21/08/2015 9:12:28 AM</td>
	</tr>
	<tr>
		<td>BackButton (Button)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0323</td>
		<td>2</td>
		<td>0.038</td>
		<td>2</td>
		<td>00:00:00.0000646</td>
		<td>4</td>
		<td>21/08/2015 9:12:47 AM</td>
	</tr>
	<tr>
		<td>Body (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.4787</td>
		<td>2</td>
		<td>0.4787</td>
		<td>2</td>
		<td>00:00:00.0004787</td>
		<td>2</td>
		<td>21/08/2015 9:12:16 AM</td>
	</tr>
	<tr>
		<td>Building (WizardFormProgressPage_a_339)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1032</td>
		<td>6</td>
		<td>0.1032</td>
		<td>6</td>
		<td>00:00:00.0001032</td>
		<td>6</td>
		<td>21/08/2015 9:12:47 AM</td>
	</tr>
	<tr>
		<td>C75238468 (Border)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>2.1339</td>
		<td>51</td>
		<td>3.4307</td>
		<td>52</td>
		<td>00:00:00.0064018</td>
		<td>155</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>C75238532 (Installer_BehaviourOptionEditor_a_336)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1536</td>
		<td>8</td>
		<td>0.1536</td>
		<td>8</td>
		<td>00:00:00.0001536</td>
		<td>8</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>C75238534 (Radiobutton)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0202</td>
		<td>2</td>
		<td>0.0202</td>
		<td>2</td>
		<td>00:00:00.0000202</td>
		<td>2</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>C75238536 (Radiobutton)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0205</td>
		<td>2</td>
		<td>0.0205</td>
		<td>2</td>
		<td>00:00:00.0000205</td>
		<td>2</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>C75238537 (Radiobutton)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.025</td>
		<td>2</td>
		<td>0.025</td>
		<td>2</td>
		<td>00:00:00.0000250</td>
		<td>2</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>C75238539 (Literal)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0202</td>
		<td>2</td>
		<td>0.0202</td>
		<td>2</td>
		<td>00:00:00.0000202</td>
		<td>2</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>Cancel (Button)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.043</td>
		<td>4</td>
		<td>0.0431</td>
		<td>4</td>
		<td>00:00:00.0000860</td>
		<td>8</td>
		<td>21/08/2015 9:12:49 AM</td>
	</tr>
	<tr>
		<td>CancelButton (Button)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>0.026</td>
		<td>2</td>
		<td>0.0335</td>
		<td>2</td>
		<td>00:00:00.0000781</td>
		<td>6</td>
		<td>21/08/2015 9:12:51 AM</td>
	</tr>
	<tr>
		<td>Caption (StandardWindowCaption_a_312)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.3993</td>
		<td>2</td>
		<td>0.3993</td>
		<td>2</td>
		<td>00:00:00.0003993</td>
		<td>2</td>
		<td>21/08/2015 9:12:16 AM</td>
	</tr>
	<tr>
		<td>ConfirmMessage (Literal)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0304</td>
		<td>2</td>
		<td>0.0304</td>
		<td>2</td>
		<td>00:00:00.0000304</td>
		<td>2</td>
		<td>21/08/2015 9:12:49 AM</td>
	</tr>
	<tr>
		<td>ContextMenu (ContextMenu)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0217</td>
		<td>0</td>
		<td>0.0217</td>
		<td>0</td>
		<td>00:00:00.0000217</td>
		<td>0</td>
		<td>21/08/2015 9:12:26 AM</td>
	</tr>
	<tr>
		<td>Custom75238470 (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0431</td>
		<td>2</td>
		<td>0.0431</td>
		<td>2</td>
		<td>00:00:00.0000431</td>
		<td>2</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>Custom75238470_value (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0253</td>
		<td>2</td>
		<td>0.0253</td>
		<td>2</td>
		<td>00:00:00.0000253</td>
		<td>2</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>Custom75238514 (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0326</td>
		<td>2</td>
		<td>0.0326</td>
		<td>2</td>
		<td>00:00:00.0000326</td>
		<td>2</td>
		<td>21/08/2015 9:12:28 AM</td>
	</tr>
	<tr>
		<td>Custom75238514_value (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0241</td>
		<td>2</td>
		<td>0.0241</td>
		<td>2</td>
		<td>00:00:00.0000241</td>
		<td>2</td>
		<td>21/08/2015 9:12:28 AM</td>
	</tr>
	<tr>
		<td>DatabaseName (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0048</td>
		<td>0</td>
		<td>0.0048</td>
		<td>0</td>
		<td>00:00:00.0000048</td>
		<td>0</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>DatabaseSelector (Toolbutton)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.7369</td>
		<td>6</td>
		<td>1.7369</td>
		<td>6</td>
		<td>00:00:00.0017369</td>
		<td>6</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>DC75238474 (DataContext)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>4.4653</td>
		<td>0</td>
		<td>4.4653</td>
		<td>0</td>
		<td>00:00:00.0044653</td>
		<td>0</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>Desktop (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.3852</td>
		<td>0</td>
		<td>1.3852</td>
		<td>0</td>
		<td>00:00:00.0013852</td>
		<td>0</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>DesktopLinks (Listview)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.0894</td>
		<td>0</td>
		<td>1.0894</td>
		<td>0</td>
		<td>00:00:00.0010894</td>
		<td>0</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>Dialog (FormDialog_a_331)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>3.505</td>
		<td>44</td>
		<td>3.505</td>
		<td>44</td>
		<td>00:00:00.0035050</td>
		<td>44</td>
		<td>21/08/2015 9:12:26 AM</td>
	</tr>
	<tr>
		<td>DocumentHolder (DocumentHolder)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0039</td>
		<td>0</td>
		<td>0.0072</td>
		<td>0</td>
		<td>00:00:00.0000078</td>
		<td>0</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>E75238458 (Installer_MetadataEditor_a_319)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.3871</td>
		<td>52</td>
		<td>1.3871</td>
		<td>52</td>
		<td>00:00:00.0013871</td>
		<td>52</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>E75238458_Author (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0211</td>
		<td>2</td>
		<td>0.0211</td>
		<td>2</td>
		<td>00:00:00.0000211</td>
		<td>2</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>E75238458_Comment (Memo)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1741</td>
		<td>0</td>
		<td>0.1741</td>
		<td>0</td>
		<td>00:00:00.0001741</td>
		<td>0</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>E75238458_CustomAttributes (Installer_AttributesEditor_a_320)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0338</td>
		<td>2</td>
		<td>0.0338</td>
		<td>2</td>
		<td>00:00:00.0000338</td>
		<td>2</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>E75238458_License (Literal)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0244</td>
		<td>2</td>
		<td>0.0244</td>
		<td>2</td>
		<td>00:00:00.0000244</td>
		<td>2</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>E75238458_PackageName (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0389</td>
		<td>2</td>
		<td>0.0389</td>
		<td>2</td>
		<td>00:00:00.0000389</td>
		<td>2</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>E75238458_PostStep (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0199</td>
		<td>2</td>
		<td>0.0199</td>
		<td>2</td>
		<td>00:00:00.0000199</td>
		<td>2</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>E75238458_Publisher (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.019</td>
		<td>2</td>
		<td>0.019</td>
		<td>2</td>
		<td>00:00:00.0000190</td>
		<td>2</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>E75238458_Readme (Memo)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0105</td>
		<td>0</td>
		<td>0.0105</td>
		<td>0</td>
		<td>00:00:00.0000105</td>
		<td>0</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>E75238458_Version (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0202</td>
		<td>2</td>
		<td>0.0202</td>
		<td>2</td>
		<td>00:00:00.0000202</td>
		<td>2</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>E75238505 (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0507</td>
		<td>2</td>
		<td>0.0507</td>
		<td>2</td>
		<td>00:00:00.0000507</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>E75238506 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.8053</td>
		<td>2</td>
		<td>0.8053</td>
		<td>2</td>
		<td>00:00:00.0008053</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>E75238507 (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0425</td>
		<td>2</td>
		<td>0.0425</td>
		<td>2</td>
		<td>00:00:00.0000425</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>E75238512 (Installer_MetadataEditor_a_319)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.5537</td>
		<td>52</td>
		<td>1.5537</td>
		<td>52</td>
		<td>00:00:00.0015537</td>
		<td>52</td>
		<td>21/08/2015 9:12:28 AM</td>
	</tr>
	<tr>
		<td>E75238512_Author (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0199</td>
		<td>2</td>
		<td>0.0199</td>
		<td>2</td>
		<td>00:00:00.0000199</td>
		<td>2</td>
		<td>21/08/2015 9:12:28 AM</td>
	</tr>
	<tr>
		<td>E75238512_Comment (Memo)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.009</td>
		<td>0</td>
		<td>0.009</td>
		<td>0</td>
		<td>00:00:00.0000090</td>
		<td>0</td>
		<td>21/08/2015 9:12:28 AM</td>
	</tr>
	<tr>
		<td>E75238512_CustomAttributes (Installer_AttributesEditor_a_320)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0301</td>
		<td>2</td>
		<td>0.0301</td>
		<td>2</td>
		<td>00:00:00.0000301</td>
		<td>2</td>
		<td>21/08/2015 9:12:28 AM</td>
	</tr>
	<tr>
		<td>E75238512_License (Literal)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0344</td>
		<td>2</td>
		<td>0.0344</td>
		<td>2</td>
		<td>00:00:00.0000344</td>
		<td>2</td>
		<td>21/08/2015 9:12:28 AM</td>
	</tr>
	<tr>
		<td>E75238512_PackageName (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0383</td>
		<td>2</td>
		<td>0.0383</td>
		<td>2</td>
		<td>00:00:00.0000383</td>
		<td>2</td>
		<td>21/08/2015 9:12:28 AM</td>
	</tr>
	<tr>
		<td>E75238512_PostStep (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0301</td>
		<td>2</td>
		<td>0.0301</td>
		<td>2</td>
		<td>00:00:00.0000301</td>
		<td>2</td>
		<td>21/08/2015 9:12:28 AM</td>
	</tr>
	<tr>
		<td>E75238512_Publisher (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.019</td>
		<td>2</td>
		<td>0.019</td>
		<td>2</td>
		<td>00:00:00.0000190</td>
		<td>2</td>
		<td>21/08/2015 9:12:28 AM</td>
	</tr>
	<tr>
		<td>E75238512_Readme (Memo)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0108</td>
		<td>0</td>
		<td>0.0108</td>
		<td>0</td>
		<td>00:00:00.0000108</td>
		<td>0</td>
		<td>21/08/2015 9:12:28 AM</td>
	</tr>
	<tr>
		<td>E75238512_Version (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0202</td>
		<td>2</td>
		<td>0.0202</td>
		<td>2</td>
		<td>00:00:00.0000202</td>
		<td>2</td>
		<td>21/08/2015 9:12:28 AM</td>
	</tr>
	<tr>
		<td>E75238515 (Installer_ExplicitFileSourceEditor_a_333)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>3.4054</td>
		<td>51</td>
		<td>3.4054</td>
		<td>51</td>
		<td>00:00:00.0034054</td>
		<td>51</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>E75238546 (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0202</td>
		<td>2</td>
		<td>0.0202</td>
		<td>2</td>
		<td>00:00:00.0000202</td>
		<td>2</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>Editor75238518 (Installer_ListSourceEditor_a_334)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.2874</td>
		<td>14</td>
		<td>1.2874</td>
		<td>14</td>
		<td>00:00:00.0012874</td>
		<td>14</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>Editor75238520 (Installer_SourceOutputEditor_a_335)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1931</td>
		<td>10</td>
		<td>0.1931</td>
		<td>10</td>
		<td>00:00:00.0001931</td>
		<td>10</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>Editor75238522 (Installer_SourceViewer_a_337)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.3408</td>
		<td>16</td>
		<td>0.3408</td>
		<td>16</td>
		<td>00:00:00.0003408</td>
		<td>16</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>Editor75238524 (Installer_NameEditor_a_329)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0652</td>
		<td>4</td>
		<td>0.0652</td>
		<td>4</td>
		<td>00:00:00.0000652</td>
		<td>4</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>FailureMessage (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0054</td>
		<td>0</td>
		<td>0.0054</td>
		<td>0</td>
		<td>00:00:00.0000054</td>
		<td>0</td>
		<td>21/08/2015 9:12:47 AM</td>
	</tr>
	<tr>
		<td>FileExplorer (Listview)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.5241</td>
		<td>4</td>
		<td>1.5241</td>
		<td>4</td>
		<td>00:00:00.0015241</td>
		<td>4</td>
		<td>21/08/2015 9:12:26 AM</td>
	</tr>
	<tr>
		<td>FileExplorerDataContext (DataContext)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0012</td>
		<td>0</td>
		<td>0.0012</td>
		<td>0</td>
		<td>00:00:00.0000012</td>
		<td>0</td>
		<td>21/08/2015 9:12:26 AM</td>
	</tr>
	<tr>
		<td>FileExplorerFrame (Scrollbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.5341</td>
		<td>4</td>
		<td>1.5341</td>
		<td>4</td>
		<td>00:00:00.0015341</td>
		<td>4</td>
		<td>21/08/2015 9:12:26 AM</td>
	</tr>
	<tr>
		<td>Filename (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0464</td>
		<td>2</td>
		<td>0.0464</td>
		<td>2</td>
		<td>00:00:00.0000464</td>
		<td>2</td>
		<td>21/08/2015 9:12:26 AM</td>
	</tr>
	<tr>
		<td>Filter75238526 (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0196</td>
		<td>2</td>
		<td>0.0196</td>
		<td>2</td>
		<td>00:00:00.0000196</td>
		<td>2</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>Filter75238541 (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0178</td>
		<td>2</td>
		<td>0.0178</td>
		<td>2</td>
		<td>00:00:00.0000178</td>
		<td>2</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>Filters (Installer_FilesFilterEditor_a_326)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>4.0408</td>
		<td>42</td>
		<td>4.0408</td>
		<td>42</td>
		<td>00:00:00.0040408</td>
		<td>42</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>Filters_CreationDateFilter (Installer_FileDateFilterEditor_a_328)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.8151</td>
		<td>14</td>
		<td>1.8151</td>
		<td>14</td>
		<td>00:00:00.0018151</td>
		<td>14</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>Filters_CreationDateFilter_ClearButton (Button)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0452</td>
		<td>2</td>
		<td>0.0452</td>
		<td>2</td>
		<td>00:00:00.0000452</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>Filters_CreationDateFilter_Dates (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.138</td>
		<td>4</td>
		<td>1.138</td>
		<td>4</td>
		<td>00:00:00.0011380</td>
		<td>4</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>Filters_CreationDateFilter_FromDate (DatePicker)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.9448</td>
		<td>0</td>
		<td>0.9448</td>
		<td>0</td>
		<td>00:00:00.0009448</td>
		<td>0</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>Filters_CreationDateFilter_PastDaysButton (Radiobutton)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.4389</td>
		<td>2</td>
		<td>0.4389</td>
		<td>2</td>
		<td>00:00:00.0004389</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>Filters_CreationDateFilter_PastDaysEditbox (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0458</td>
		<td>2</td>
		<td>0.0458</td>
		<td>2</td>
		<td>00:00:00.0000458</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>Filters_CreationDateFilter_SpecifyRangeButton (Radiobutton)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0319</td>
		<td>2</td>
		<td>0.0319</td>
		<td>2</td>
		<td>00:00:00.0000319</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>Filters_CreationDateFilter_ToDate (DatePicker)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0591</td>
		<td>0</td>
		<td>0.0591</td>
		<td>0</td>
		<td>00:00:00.0000591</td>
		<td>0</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>Filters_ModificationDateFilter (Installer_FileDateFilterEditor_a_328)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.3954</td>
		<td>14</td>
		<td>0.3954</td>
		<td>14</td>
		<td>00:00:00.0003954</td>
		<td>14</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>Filters_ModificationDateFilter_ClearButton (Button)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0262</td>
		<td>2</td>
		<td>0.0262</td>
		<td>2</td>
		<td>00:00:00.0000262</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>Filters_ModificationDateFilter_Dates (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.223</td>
		<td>4</td>
		<td>0.223</td>
		<td>4</td>
		<td>00:00:00.0002230</td>
		<td>4</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>Filters_ModificationDateFilter_FromDate (DatePicker)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0679</td>
		<td>0</td>
		<td>0.0679</td>
		<td>0</td>
		<td>00:00:00.0000679</td>
		<td>0</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>Filters_ModificationDateFilter_PastDaysButton (Radiobutton)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0247</td>
		<td>2</td>
		<td>0.0247</td>
		<td>2</td>
		<td>00:00:00.0000247</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>Filters_ModificationDateFilter_PastDaysEditbox (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0268</td>
		<td>2</td>
		<td>0.0268</td>
		<td>2</td>
		<td>00:00:00.0000268</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>Filters_ModificationDateFilter_SpecifyRangeButton (Radiobutton)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0217</td>
		<td>2</td>
		<td>0.0217</td>
		<td>2</td>
		<td>00:00:00.0000217</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>Filters_ModificationDateFilter_ToDate (DatePicker)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0621</td>
		<td>0</td>
		<td>0.0621</td>
		<td>0</td>
		<td>00:00:00.0000621</td>
		<td>0</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>Filters_NameFilter (Installer_FileNameFilterEditor_a_327)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.2929</td>
		<td>8</td>
		<td>1.2929</td>
		<td>8</td>
		<td>00:00:00.0012929</td>
		<td>8</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>FormPage (FormPage_a_305)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.7039</td>
		<td>4</td>
		<td>0.7039</td>
		<td>4</td>
		<td>00:00:00.0007039</td>
		<td>4</td>
		<td>21/08/2015 9:12:16 AM</td>
	</tr>
	<tr>
		<td>FRAME75238454 (Frame)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.681</td>
		<td>0</td>
		<td>0.681</td>
		<td>0</td>
		<td>00:00:00.0006810</td>
		<td>0</td>
		<td>21/08/2015 9:12:15 AM</td>
	</tr>
	<tr>
		<td>FrameName (Literal)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0938</td>
		<td>2</td>
		<td>0.0938</td>
		<td>2</td>
		<td>00:00:00.0000938</td>
		<td>2</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>globalHeader (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2321</td>
		<td>3</td>
		<td>0.2321</td>
		<td>3</td>
		<td>00:00:00.0002321</td>
		<td>3</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>globalHeaderUserName (Literal)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0253</td>
		<td>2</td>
		<td>0.0253</td>
		<td>2</td>
		<td>00:00:00.0000253</td>
		<td>2</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>globalHeaderUserPortrait (ThemedImage)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>3.3729</td>
		<td>0</td>
		<td>6.6357</td>
		<td>0</td>
		<td>00:00:00.0067459</td>
		<td>0</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>I75238528 (ListviewItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.7199</td>
		<td>2</td>
		<td>0.7199</td>
		<td>2</td>
		<td>00:00:00.0007199</td>
		<td>2</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>I75238529 (ListviewItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0926</td>
		<td>2</td>
		<td>0.0926</td>
		<td>2</td>
		<td>00:00:00.0000926</td>
		<td>2</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>I75238530 (ListviewItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0851</td>
		<td>2</td>
		<td>0.0851</td>
		<td>2</td>
		<td>00:00:00.0000851</td>
		<td>2</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>I75238531 (ListviewItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1053</td>
		<td>2</td>
		<td>0.1053</td>
		<td>2</td>
		<td>00:00:00.0001053</td>
		<td>2</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>I75238542 (ListviewItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0392</td>
		<td>2</td>
		<td>0.0392</td>
		<td>2</td>
		<td>00:00:00.0000392</td>
		<td>2</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>I75238543 (ListviewItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0347</td>
		<td>2</td>
		<td>0.0347</td>
		<td>2</td>
		<td>00:00:00.0000347</td>
		<td>2</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>I75238544 (ListviewItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0341</td>
		<td>2</td>
		<td>0.0341</td>
		<td>2</td>
		<td>00:00:00.0000341</td>
		<td>2</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>I75238545 (ListviewItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0329</td>
		<td>2</td>
		<td>0.0329</td>
		<td>2</td>
		<td>00:00:00.0000329</td>
		<td>2</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>I75238550 (ListviewItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>4.2244</td>
		<td>2</td>
		<td>4.2244</td>
		<td>2</td>
		<td>00:00:00.0042244</td>
		<td>2</td>
		<td>21/08/2015 9:12:37 AM</td>
	</tr>
	<tr>
		<td>I75238551 (ListviewItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1086</td>
		<td>2</td>
		<td>0.1086</td>
		<td>2</td>
		<td>00:00:00.0001086</td>
		<td>2</td>
		<td>21/08/2015 9:12:37 AM</td>
	</tr>
	<tr>
		<td>Internals (Border)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0036</td>
		<td>0</td>
		<td>0.0039</td>
		<td>0</td>
		<td>00:00:00.0000072</td>
		<td>0</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>LastPage (WizardFormPage_a_323)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>2.6623</td>
		<td>10</td>
		<td>5.226</td>
		<td>14</td>
		<td>00:00:00.0053247</td>
		<td>20</td>
		<td>21/08/2015 9:12:47 AM</td>
	</tr>
	<tr>
		<td>LI75238508 (ListviewItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.4009</td>
		<td>2</td>
		<td>1.4009</td>
		<td>2</td>
		<td>00:00:00.0014009</td>
		<td>2</td>
		<td>21/08/2015 9:12:26 AM</td>
	</tr>
	<tr>
		<td>LI75238509 (ListviewItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0987</td>
		<td>2</td>
		<td>0.0987</td>
		<td>2</td>
		<td>00:00:00.0000987</td>
		<td>2</td>
		<td>21/08/2015 9:12:26 AM</td>
	</tr>
	<tr>
		<td>Links (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.3705</td>
		<td>0</td>
		<td>1.3705</td>
		<td>0</td>
		<td>00:00:00.0013705</td>
		<td>0</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>LoadFileSource (WizardFormPage_a_323)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>64.6627</td>
		<td>61</td>
		<td>64.6627</td>
		<td>61</td>
		<td>00:00:00.0646627</td>
		<td>61</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>M75238439 (ContextMenu)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.9499</td>
		<td>10</td>
		<td>0.9499</td>
		<td>10</td>
		<td>00:00:00.0009499</td>
		<td>10</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>M75238446 (ContextMenu)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1808</td>
		<td>2</td>
		<td>0.1808</td>
		<td>2</td>
		<td>00:00:00.0001808</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>M75238449 (ContextMenu)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.3655</td>
		<td>4</td>
		<td>0.3655</td>
		<td>4</td>
		<td>00:00:00.0003655</td>
		<td>4</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>M75238511 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1542</td>
		<td>2</td>
		<td>0.1542</td>
		<td>2</td>
		<td>00:00:00.0001542</td>
		<td>2</td>
		<td>21/08/2015 9:12:26 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238414 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1581</td>
		<td>2</td>
		<td>0.1581</td>
		<td>2</td>
		<td>00:00:00.0001581</td>
		<td>2</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238415 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1307</td>
		<td>2</td>
		<td>0.1307</td>
		<td>2</td>
		<td>00:00:00.0001307</td>
		<td>2</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238416 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1298</td>
		<td>2</td>
		<td>0.1298</td>
		<td>2</td>
		<td>00:00:00.0001298</td>
		<td>2</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238417 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1264</td>
		<td>2</td>
		<td>0.1264</td>
		<td>2</td>
		<td>00:00:00.0001264</td>
		<td>2</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238418 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1292</td>
		<td>2</td>
		<td>0.1292</td>
		<td>2</td>
		<td>00:00:00.0001292</td>
		<td>2</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238421 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1385</td>
		<td>2</td>
		<td>0.1385</td>
		<td>2</td>
		<td>00:00:00.0001385</td>
		<td>2</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238422 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1204</td>
		<td>2</td>
		<td>0.1204</td>
		<td>2</td>
		<td>00:00:00.0001204</td>
		<td>2</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238423 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1364</td>
		<td>2</td>
		<td>0.1364</td>
		<td>2</td>
		<td>00:00:00.0001364</td>
		<td>2</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238426 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.124</td>
		<td>2</td>
		<td>0.124</td>
		<td>2</td>
		<td>00:00:00.0001240</td>
		<td>2</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238427 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1168</td>
		<td>2</td>
		<td>0.1168</td>
		<td>2</td>
		<td>00:00:00.0001168</td>
		<td>2</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238428 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2496</td>
		<td>2</td>
		<td>0.2496</td>
		<td>2</td>
		<td>00:00:00.0002496</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238429 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2167</td>
		<td>2</td>
		<td>0.2167</td>
		<td>2</td>
		<td>00:00:00.0002167</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238430 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2104</td>
		<td>2</td>
		<td>0.2104</td>
		<td>2</td>
		<td>00:00:00.0002104</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238431 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.191</td>
		<td>2</td>
		<td>0.191</td>
		<td>2</td>
		<td>00:00:00.0001910</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238432 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1959</td>
		<td>2</td>
		<td>0.1959</td>
		<td>2</td>
		<td>00:00:00.0001959</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238433 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1847</td>
		<td>2</td>
		<td>0.1847</td>
		<td>2</td>
		<td>00:00:00.0001847</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238434 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1877</td>
		<td>2</td>
		<td>0.1877</td>
		<td>2</td>
		<td>00:00:00.0001877</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238435 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2209</td>
		<td>2</td>
		<td>0.2209</td>
		<td>2</td>
		<td>00:00:00.0002209</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238436 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2318</td>
		<td>2</td>
		<td>0.2318</td>
		<td>2</td>
		<td>00:00:00.0002318</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238437 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1747</td>
		<td>2</td>
		<td>0.1747</td>
		<td>2</td>
		<td>00:00:00.0001747</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238438 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>2.0482</td>
		<td>12</td>
		<td>2.0482</td>
		<td>12</td>
		<td>00:00:00.0020482</td>
		<td>12</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238440 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1802</td>
		<td>2</td>
		<td>0.1802</td>
		<td>2</td>
		<td>00:00:00.0001802</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238441 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1775</td>
		<td>2</td>
		<td>0.1775</td>
		<td>2</td>
		<td>00:00:00.0001775</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238442 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1829</td>
		<td>2</td>
		<td>0.1829</td>
		<td>2</td>
		<td>00:00:00.0001829</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238443 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1823</td>
		<td>2</td>
		<td>0.1823</td>
		<td>2</td>
		<td>00:00:00.0001823</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238444 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1645</td>
		<td>2</td>
		<td>0.1645</td>
		<td>2</td>
		<td>00:00:00.0001645</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238445 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.38</td>
		<td>4</td>
		<td>0.38</td>
		<td>4</td>
		<td>00:00:00.0003800</td>
		<td>4</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238447 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1618</td>
		<td>2</td>
		<td>0.1618</td>
		<td>2</td>
		<td>00:00:00.0001618</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238448 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.5249</td>
		<td>6</td>
		<td>0.5249</td>
		<td>6</td>
		<td>00:00:00.0005249</td>
		<td>6</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238450 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1699</td>
		<td>2</td>
		<td>0.1699</td>
		<td>2</td>
		<td>00:00:00.0001699</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238451 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1702</td>
		<td>2</td>
		<td>0.1702</td>
		<td>2</td>
		<td>00:00:00.0001702</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238452 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1602</td>
		<td>2</td>
		<td>0.1602</td>
		<td>2</td>
		<td>00:00:00.0001602</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>MenuItem75238453 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2031</td>
		<td>2</td>
		<td>0.2031</td>
		<td>2</td>
		<td>00:00:00.0002031</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>Monitor (JobMonitor)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0006</td>
		<td>0</td>
		<td>0.0006</td>
		<td>0</td>
		<td>00:00:00.0000006</td>
		<td>0</td>
		<td>21/08/2015 9:12:47 AM</td>
	</tr>
	<tr>
		<td>Name (Installer_NameEditor_a_329)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2581</td>
		<td>4</td>
		<td>0.2581</td>
		<td>4</td>
		<td>00:00:00.0002581</td>
		<td>4</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>NextButton (Button)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.025</td>
		<td>2</td>
		<td>0.0286</td>
		<td>2</td>
		<td>00:00:00.0000501</td>
		<td>4</td>
		<td>21/08/2015 9:12:47 AM</td>
	</tr>
	<tr>
		<td>OK (Button)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0442</td>
		<td>3</td>
		<td>0.0585</td>
		<td>4</td>
		<td>00:00:00.0000884</td>
		<td>6</td>
		<td>21/08/2015 9:12:49 AM</td>
	</tr>
	<tr>
		<td>PackageFile (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0256</td>
		<td>2</td>
		<td>0.0256</td>
		<td>2</td>
		<td>00:00:00.0000256</td>
		<td>2</td>
		<td>21/08/2015 9:12:47 AM</td>
	</tr>
	<tr>
		<td>Pager75238527 (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.003</td>
		<td>0</td>
		<td>0.003</td>
		<td>0</td>
		<td>00:00:00.0000030</td>
		<td>0</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>Placeholder: placeholder</td>
		<td>shell</td>
		<td>32</td>
		<td>0</td>
		<td>47.8261</td>
		<td>122</td>
		<td>570.8698</td>
		<td>1476</td>
		<td>00:00:01.5304360</td>
		<td>3920</td>
		<td>21/08/2015 9:12:49 AM</td>
	</tr>
	<tr>
		<td>RibbonFrame (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0111</td>
		<td>0</td>
		<td>0.0111</td>
		<td>0</td>
		<td>00:00:00.0000111</td>
		<td>0</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>Root (Installer_FileSourceRootEditor_a_325)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>64.5522</td>
		<td>57</td>
		<td>64.5522</td>
		<td>57</td>
		<td>00:00:00.0645522</td>
		<td>57</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>SearchBox (SubmittableEdit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.1664</td>
		<td>2</td>
		<td>1.1664</td>
		<td>2</td>
		<td>00:00:00.0011664</td>
		<td>2</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>SetName (WizardFormPage_a_323)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.2549</td>
		<td>8</td>
		<td>0.3577</td>
		<td>8</td>
		<td>00:00:00.0005098</td>
		<td>16</td>
		<td>21/08/2015 9:12:47 AM</td>
	</tr>
	<tr>
		<td>Startbar (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>6.4413</td>
		<td>8</td>
		<td>6.4413</td>
		<td>8</td>
		<td>00:00:00.0064413</td>
		<td>8</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>StartbarApplications (GenericControl)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1633</td>
		<td>0</td>
		<td>0.1633</td>
		<td>0</td>
		<td>00:00:00.0001633</td>
		<td>0</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>StartbarMenu (DataContextMenu)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0175</td>
		<td>0</td>
		<td>0.0175</td>
		<td>0</td>
		<td>00:00:00.0000175</td>
		<td>0</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>StartbarMenu_3D3352A8796A4E42807F9E03944972C2 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0953</td>
		<td>2</td>
		<td>0.0953</td>
		<td>2</td>
		<td>00:00:00.0000953</td>
		<td>2</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>StartbarMenu_A88845DE2B4A41BAB29AE2369A8C8C20 (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.095</td>
		<td>2</td>
		<td>0.095</td>
		<td>2</td>
		<td>00:00:00.0000950</td>
		<td>2</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>StartbarTray (GenericControl)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>2.9788</td>
		<td>8</td>
		<td>2.9788</td>
		<td>8</td>
		<td>00:00:00.0029788</td>
		<td>8</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>StartButton (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0223</td>
		<td>0</td>
		<td>0.0223</td>
		<td>0</td>
		<td>00:00:00.0000223</td>
		<td>0</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>StartButtonMenu (DataContextMenu)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0009</td>
		<td>0</td>
		<td>0.0009</td>
		<td>0</td>
		<td>00:00:00.0000009</td>
		<td>0</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>StartMenuPrograms (Menu)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>5.5801</td>
		<td>46</td>
		<td>5.5801</td>
		<td>46</td>
		<td>00:00:00.0055801</td>
		<td>46</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>StatusText (Literal)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.038</td>
		<td>2</td>
		<td>0.038</td>
		<td>2</td>
		<td>00:00:00.0000380</td>
		<td>2</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>SuccessMessage (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>5.1297</td>
		<td>10</td>
		<td>5.1297</td>
		<td>10</td>
		<td>00:00:00.0051297</td>
		<td>10</td>
		<td>21/08/2015 9:12:47 AM</td>
	</tr>
	<tr>
		<td>T75238413 (Menu)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.0801</td>
		<td>10</td>
		<td>1.0801</td>
		<td>10</td>
		<td>00:00:00.0010801</td>
		<td>10</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>T75238420 (Menu)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.4368</td>
		<td>6</td>
		<td>0.4368</td>
		<td>6</td>
		<td>00:00:00.0004368</td>
		<td>6</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>T75238425 (Menu)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2617</td>
		<td>4</td>
		<td>0.2617</td>
		<td>4</td>
		<td>00:00:00.0002617</td>
		<td>4</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>T75238476 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>54.4005</td>
		<td>57</td>
		<td>54.4005</td>
		<td>57</td>
		<td>00:00:00.0544005</td>
		<td>57</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238477 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.3595</td>
		<td>2</td>
		<td>0.3595</td>
		<td>2</td>
		<td>00:00:00.0003595</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238478 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2064</td>
		<td>2</td>
		<td>0.2064</td>
		<td>2</td>
		<td>00:00:00.0002064</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238479 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.3302</td>
		<td>2</td>
		<td>0.3302</td>
		<td>2</td>
		<td>00:00:00.0003302</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238480 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2363</td>
		<td>2</td>
		<td>0.2363</td>
		<td>2</td>
		<td>00:00:00.0002363</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238481 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2357</td>
		<td>2</td>
		<td>0.2357</td>
		<td>2</td>
		<td>00:00:00.0002357</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238482 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2276</td>
		<td>2</td>
		<td>0.2276</td>
		<td>2</td>
		<td>00:00:00.0002276</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238483 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.169</td>
		<td>2</td>
		<td>0.169</td>
		<td>2</td>
		<td>00:00:00.0001690</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238484 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1424</td>
		<td>2</td>
		<td>0.1424</td>
		<td>2</td>
		<td>00:00:00.0001424</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238485 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1388</td>
		<td>2</td>
		<td>0.1388</td>
		<td>2</td>
		<td>00:00:00.0001388</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238486 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1394</td>
		<td>2</td>
		<td>0.1394</td>
		<td>2</td>
		<td>00:00:00.0001394</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238487 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1406</td>
		<td>2</td>
		<td>0.1406</td>
		<td>2</td>
		<td>00:00:00.0001406</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238488 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1391</td>
		<td>2</td>
		<td>0.1391</td>
		<td>2</td>
		<td>00:00:00.0001391</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238489 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1403</td>
		<td>2</td>
		<td>0.1403</td>
		<td>2</td>
		<td>00:00:00.0001403</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238490 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1364</td>
		<td>2</td>
		<td>0.1364</td>
		<td>2</td>
		<td>00:00:00.0001364</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238491 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1373</td>
		<td>2</td>
		<td>0.1373</td>
		<td>2</td>
		<td>00:00:00.0001373</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238492 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1367</td>
		<td>2</td>
		<td>0.1367</td>
		<td>2</td>
		<td>00:00:00.0001367</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238493 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1373</td>
		<td>2</td>
		<td>0.1373</td>
		<td>2</td>
		<td>00:00:00.0001373</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238494 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.147</td>
		<td>2</td>
		<td>0.147</td>
		<td>2</td>
		<td>00:00:00.0001470</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238495 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1337</td>
		<td>2</td>
		<td>0.1337</td>
		<td>2</td>
		<td>00:00:00.0001337</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238496 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1337</td>
		<td>2</td>
		<td>0.1337</td>
		<td>2</td>
		<td>00:00:00.0001337</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238497 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1527</td>
		<td>2</td>
		<td>0.1527</td>
		<td>2</td>
		<td>00:00:00.0001527</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238498 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1334</td>
		<td>2</td>
		<td>0.1334</td>
		<td>2</td>
		<td>00:00:00.0001334</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238499 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1331</td>
		<td>2</td>
		<td>0.1331</td>
		<td>2</td>
		<td>00:00:00.0001331</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238500 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1337</td>
		<td>2</td>
		<td>0.1337</td>
		<td>2</td>
		<td>00:00:00.0001337</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238501 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1542</td>
		<td>2</td>
		<td>0.1542</td>
		<td>2</td>
		<td>00:00:00.0001542</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238502 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1545</td>
		<td>2</td>
		<td>0.1545</td>
		<td>2</td>
		<td>00:00:00.0001545</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238503 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1255</td>
		<td>1</td>
		<td>0.1255</td>
		<td>1</td>
		<td>00:00:00.0001255</td>
		<td>1</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>T75238504 (DataTreeNode)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1331</td>
		<td>2</td>
		<td>0.1331</td>
		<td>2</td>
		<td>00:00:00.0001331</td>
		<td>2</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>Tab75238517 (Tab)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.3545</td>
		<td>14</td>
		<td>1.3545</td>
		<td>14</td>
		<td>00:00:00.0013545</td>
		<td>14</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>Tab75238519 (Tab)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2031</td>
		<td>10</td>
		<td>0.2031</td>
		<td>10</td>
		<td>00:00:00.0002031</td>
		<td>10</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>Tab75238521 (Tab)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.3486</td>
		<td>16</td>
		<td>0.3486</td>
		<td>16</td>
		<td>00:00:00.0003486</td>
		<td>16</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>Tab75238523 (Tab)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0715</td>
		<td>4</td>
		<td>0.0715</td>
		<td>4</td>
		<td>00:00:00.0000715</td>
		<td>4</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>Tabs75238516 (Tabstrip)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>3.3927</td>
		<td>51</td>
		<td>3.3927</td>
		<td>51</td>
		<td>00:00:00.0033927</td>
		<td>51</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>topHeader (GlobalHeader_a_307)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>0.0354</td>
		<td>0</td>
		<td>0.2411</td>
		<td>3</td>
		<td>00:00:00.0002478</td>
		<td>3</td>
		<td>21/08/2015 9:12:49 AM</td>
	</tr>
	<tr>
		<td>Tray (GenericControl)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.7729</td>
		<td>6</td>
		<td>1.7729</td>
		<td>6</td>
		<td>00:00:00.0017729</td>
		<td>6</td>
		<td>21/08/2015 9:12:11 AM</td>
	</tr>
	<tr>
		<td>TV75238475 (DataTreeview)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>60.0253</td>
		<td>57</td>
		<td>60.0253</td>
		<td>57</td>
		<td>00:00:00.0600253</td>
		<td>57</td>
		<td>21/08/2015 9:12:23 AM</td>
	</tr>
	<tr>
		<td>View (Installer_ProjectView_a_316)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.9283</td>
		<td>52</td>
		<td>1.9283</td>
		<td>52</td>
		<td>00:00:00.0019283</td>
		<td>52</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>View_EditorFrame (Installer_EditorHost_a_318)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.4154</td>
		<td>52</td>
		<td>1.4154</td>
		<td>52</td>
		<td>00:00:00.0014154</td>
		<td>52</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>View_MainPane (GridPanel)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.4649</td>
		<td>52</td>
		<td>1.4649</td>
		<td>52</td>
		<td>00:00:00.0014649</td>
		<td>52</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>View_SideFrame (Scrollbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.3498</td>
		<td>0</td>
		<td>0.3498</td>
		<td>0</td>
		<td>00:00:00.0003498</td>
		<td>0</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>View_SideFrameContent (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.015</td>
		<td>0</td>
		<td>0.015</td>
		<td>0</td>
		<td>00:00:00.0000150</td>
		<td>0</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>View_Splitter (VSplitter_a_317)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0066</td>
		<td>0</td>
		<td>0.0066</td>
		<td>0</td>
		<td>00:00:00.0000066</td>
		<td>0</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>View75238525 (Listview)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>2.849</td>
		<td>8</td>
		<td>4.5341</td>
		<td>10</td>
		<td>00:00:00.0056981</td>
		<td>16</td>
		<td>21/08/2015 9:12:37 AM</td>
	</tr>
	<tr>
		<td>View75238540 (Listview)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.252</td>
		<td>12</td>
		<td>0.252</td>
		<td>12</td>
		<td>00:00:00.0002520</td>
		<td>12</td>
		<td>21/08/2015 9:12:32 AM</td>
	</tr>
	<tr>
		<td>ViewFrame (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.9528</td>
		<td>52</td>
		<td>1.9528</td>
		<td>52</td>
		<td>00:00:00.0019528</td>
		<td>52</td>
		<td>21/08/2015 9:12:17 AM</td>
	</tr>
	<tr>
		<td>Wallpaper (GenericControl)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0027</td>
		<td>0</td>
		<td>0.0027</td>
		<td>0</td>
		<td>00:00:00.0000027</td>
		<td>0</td>
		<td>21/08/2015 9:12:10 AM</td>
	</tr>
	<tr>
		<td>WindowCaption (Inline)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2777</td>
		<td>0</td>
		<td>0.2777</td>
		<td>0</td>
		<td>00:00:00.0002777</td>
		<td>0</td>
		<td>21/08/2015 9:12:16 AM</td>
	</tr>
</table>
