<table border="1" cellpadding="2">
	<tr>
		<td>Rendering</td>
		<td>Site</td>
		<td>Count</td>
		<td>From cache</td>
		<td>Avg. time (ms)</td>
		<td>Avg. items</td>
		<td>Max. time</td>
		<td>Max. items</td>
		<td>Total time</td>
		<td>Total items</td>
		<td>Last run</td>
	</tr>
	<tr>
		<td> (VisitorIdentification)</td>
		<td>service</td>
		<td>8</td>
		<td>0</td>
		<td>980.1762</td>
		<td>0</td>
		<td>7840.0645</td>
		<td>4</td>
		<td>00:00:07.8414099</td>
		<td>6</td>
		<td>20/08/2015 3:20:29 PM</td>
	</tr>
</table>
