<table border="1" cellpadding="2">
	<tr>
		<td>Rendering</td>
		<td>Site</td>
		<td>Count</td>
		<td>From cache</td>
		<td>Avg. time (ms)</td>
		<td>Avg. items</td>
		<td>Max. time</td>
		<td>Max. items</td>
		<td>Total time</td>
		<td>Total items</td>
		<td>Last run</td>
	</tr>
	<tr>
		<td> (VisitorIdentification)</td>
		<td>service</td>
		<td>6</td>
		<td>0</td>
		<td>369.477</td>
		<td>16</td>
		<td>2215.9594</td>
		<td>97</td>
		<td>00:00:02.2168620</td>
		<td>97</td>
		<td>20/08/2015 10:46:12 AM</td>
	</tr>
	<tr>
		<td> (Border)</td>
		<td>shell</td>
		<td>23</td>
		<td>0</td>
		<td>19.5627</td>
		<td>113</td>
		<td>188.5969</td>
		<td>240</td>
		<td>00:00:00.4499434</td>
		<td>2614</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td> (DocumentType)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>0.0608</td>
		<td>0</td>
		<td>0.3963</td>
		<td>0</td>
		<td>00:00:00.0004256</td>
		<td>0</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td> (FormPage_a_366)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>30.3576</td>
		<td>202</td>
		<td>191.497</td>
		<td>208</td>
		<td>00:00:00.2125038</td>
		<td>1415</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td> (GenericControl)</td>
		<td>shell</td>
		<td>91</td>
		<td>0</td>
		<td>9.2686</td>
		<td>62</td>
		<td>191.068</td>
		<td>208</td>
		<td>00:00:00.8434436</td>
		<td>5730</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td> (GlobalKeys_a_369)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>0.0029</td>
		<td>0</td>
		<td>0.0051</td>
		<td>0</td>
		<td>00:00:00.0000205</td>
		<td>0</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td> (GridPanel)</td>
		<td>shell</td>
		<td>21</td>
		<td>0</td>
		<td>19.3121</td>
		<td>124</td>
		<td>187.8588</td>
		<td>192</td>
		<td>00:00:00.4055555</td>
		<td>2606</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td> (Image)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>0.0155</td>
		<td>0</td>
		<td>0.0214</td>
		<td>0</td>
		<td>00:00:00.0001089</td>
		<td>0</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td> (KeyMap)</td>
		<td>shell</td>
		<td>8</td>
		<td>0</td>
		<td>3.3698</td>
		<td>10</td>
		<td>25.937</td>
		<td>28</td>
		<td>00:00:00.0269588</td>
		<td>83</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td> (Literal)</td>
		<td>shell</td>
		<td>50</td>
		<td>0</td>
		<td>0.0498</td>
		<td>1</td>
		<td>0.3368</td>
		<td>2</td>
		<td>00:00:00.0024904</td>
		<td>98</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td> (RegisterKey)</td>
		<td>shell</td>
		<td>8</td>
		<td>0</td>
		<td>0.0086</td>
		<td>0</td>
		<td>0.0582</td>
		<td>0</td>
		<td>00:00:00.0000691</td>
		<td>0</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td> (Sitecore_Shell_Applications_Dialogs_SelectRendering_a_364)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>30.3879</td>
		<td>202</td>
		<td>191.6114</td>
		<td>208</td>
		<td>00:00:00.2127154</td>
		<td>1415</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td> (Space)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>0.0366</td>
		<td>0</td>
		<td>0.2318</td>
		<td>0</td>
		<td>00:00:00.0002568</td>
		<td>0</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td> (ThemedImage)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.0895</td>
		<td>0</td>
		<td>0.2076</td>
		<td>0</td>
		<td>00:00:00.0005373</td>
		<td>0</td>
		<td>20/08/2015 10:40:20 AM</td>
	</tr>
	<tr>
		<td> (WebPanel_a_367)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>30.3504</td>
		<td>202</td>
		<td>191.4852</td>
		<td>208</td>
		<td>00:00:00.2124528</td>
		<td>1415</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td>B036AC7605DE754494BBE720157BC38D67_menu (ContextMenu)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.9196</td>
		<td>4</td>
		<td>1.602</td>
		<td>4</td>
		<td>00:00:00.0018393</td>
		<td>8</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>B036AC7605DE754494BBE720157BC38D67_menu_A16CB417A27449D4B52BDB995E9D0093 (MenuItem)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.6081</td>
		<td>2</td>
		<td>1.1081</td>
		<td>2</td>
		<td>00:00:00.0012162</td>
		<td>4</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>B05A4CD46DA5A64F9E9F44A45E072F9258_menu (ContextMenu)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.169</td>
		<td>2</td>
		<td>0.169</td>
		<td>2</td>
		<td>00:00:00.0001690</td>
		<td>2</td>
		<td>20/08/2015 10:40:19 AM</td>
	</tr>
	<tr>
		<td>B05A4CD46DA5A64F9E9F44A45E072F9258_menu_BECEB299B0C344E1967C5089CEFFE10D (MenuItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1433</td>
		<td>2</td>
		<td>0.1433</td>
		<td>2</td>
		<td>00:00:00.0001433</td>
		<td>2</td>
		<td>20/08/2015 10:40:19 AM</td>
	</tr>
	<tr>
		<td>B265844B766F4D442AA5CE035D0A75EAB4_menu (ContextMenu)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.1886</td>
		<td>2</td>
		<td>0.2345</td>
		<td>2</td>
		<td>00:00:00.0003773</td>
		<td>4</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>B265844B766F4D442AA5CE035D0A75EAB4_menu_244867EA0A0B488AB8E89F9D2FD26FD9 (MenuItem)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.1649</td>
		<td>2</td>
		<td>0.2076</td>
		<td>2</td>
		<td>00:00:00.0003299</td>
		<td>4</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>B2AD816AF1E264DE1BBA2A42B5163A065_menu (ContextMenu)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.139</td>
		<td>2</td>
		<td>0.143</td>
		<td>2</td>
		<td>00:00:00.0002780</td>
		<td>4</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>B2AD816AF1E264DE1BBA2A42B5163A065_menu_78DCAAB64E824505A19169F8EF885621 (MenuItem)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.1162</td>
		<td>2</td>
		<td>0.1183</td>
		<td>2</td>
		<td>00:00:00.0002324</td>
		<td>4</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>B414550BADAF4542C9ADF44BED5FA6CB3E_menu (ContextMenu)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.3038</td>
		<td>4</td>
		<td>0.329</td>
		<td>4</td>
		<td>00:00:00.0006076</td>
		<td>8</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>B414550BADAF4542C9ADF44BED5FA6CB3E_menu_98719A90225A4802A0625D3967E4DD47 (MenuItem)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.1364</td>
		<td>2</td>
		<td>0.1424</td>
		<td>2</td>
		<td>00:00:00.0002728</td>
		<td>4</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>B414550BADAF4542C9ADF44BED5FA6CB3E_menu_F7178B759AA648EAA70B97D59C54B033 (MenuItem)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.1394</td>
		<td>2</td>
		<td>0.1506</td>
		<td>2</td>
		<td>00:00:00.0002789</td>
		<td>4</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>Cancel (Button)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>0.0474</td>
		<td>4</td>
		<td>0.0534</td>
		<td>4</td>
		<td>00:00:00.0003323</td>
		<td>28</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td>ContentEditor (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>2.9481</td>
		<td>10</td>
		<td>2.9481</td>
		<td>10</td>
		<td>00:00:00.0029481</td>
		<td>10</td>
		<td>20/08/2015 10:40:20 AM</td>
	</tr>
	<tr>
		<td>ContentEditorDataContext (DataContext)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.003</td>
		<td>0</td>
		<td>0.003</td>
		<td>0</td>
		<td>00:00:00.0000030</td>
		<td>0</td>
		<td>20/08/2015 10:40:20 AM</td>
	</tr>
	<tr>
		<td>D265306293 (DataContext)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0009</td>
		<td>0</td>
		<td>0.0009</td>
		<td>0</td>
		<td>00:00:00.0000009</td>
		<td>0</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>D265306295 (DataContext)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0015</td>
		<td>0</td>
		<td>0.0015</td>
		<td>0</td>
		<td>00:00:00.0000015</td>
		<td>0</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>DataContext (DataContext)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>0.1465</td>
		<td>0</td>
		<td>0.4769</td>
		<td>0</td>
		<td>00:00:00.0010260</td>
		<td>0</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td>Dialog (FormDialog_a_365)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>30.3651</td>
		<td>202</td>
		<td>191.5109</td>
		<td>208</td>
		<td>00:00:00.2125560</td>
		<td>1415</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td>EditorFrames (Border)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>42.8839</td>
		<td>233</td>
		<td>82.8369</td>
		<td>456</td>
		<td>00:00:00.0857678</td>
		<td>466</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>Editors (Border)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>42.8956</td>
		<td>233</td>
		<td>82.852</td>
		<td>456</td>
		<td>00:00:00.0857913</td>
		<td>466</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FContent (Border)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>42.8697</td>
		<td>233</td>
		<td>82.8206</td>
		<td>456</td>
		<td>00:00:00.0857394</td>
		<td>466</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306241 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.041</td>
		<td>2</td>
		<td>0.041</td>
		<td>2</td>
		<td>00:00:00.0000410</td>
		<td>2</td>
		<td>20/08/2015 10:40:20 AM</td>
	</tr>
	<tr>
		<td>FIELD265306242 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0283</td>
		<td>2</td>
		<td>0.0283</td>
		<td>2</td>
		<td>00:00:00.0000283</td>
		<td>2</td>
		<td>20/08/2015 10:40:20 AM</td>
	</tr>
	<tr>
		<td>FIELD265306243 (RichText)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.8687</td>
		<td>0</td>
		<td>0.8687</td>
		<td>0</td>
		<td>00:00:00.0008687</td>
		<td>0</td>
		<td>20/08/2015 10:40:20 AM</td>
	</tr>
	<tr>
		<td>FIELD265306244 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0618</td>
		<td>2</td>
		<td>0.0618</td>
		<td>2</td>
		<td>00:00:00.0000618</td>
		<td>2</td>
		<td>20/08/2015 10:40:20 AM</td>
	</tr>
	<tr>
		<td>FIELD265306245 (Tree)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.3511</td>
		<td>0</td>
		<td>1.3511</td>
		<td>0</td>
		<td>00:00:00.0013511</td>
		<td>0</td>
		<td>20/08/2015 10:40:20 AM</td>
	</tr>
	<tr>
		<td>FIELD265306246 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0969</td>
		<td>2</td>
		<td>0.0969</td>
		<td>2</td>
		<td>00:00:00.0000969</td>
		<td>2</td>
		<td>20/08/2015 10:40:20 AM</td>
	</tr>
	<tr>
		<td>FIELD265306247 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0156</td>
		<td>0</td>
		<td>0.0156</td>
		<td>0</td>
		<td>00:00:00.0000156</td>
		<td>0</td>
		<td>20/08/2015 10:40:20 AM</td>
	</tr>
	<tr>
		<td>FIELD265306248 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0129</td>
		<td>0</td>
		<td>0.0129</td>
		<td>0</td>
		<td>00:00:00.0000129</td>
		<td>0</td>
		<td>20/08/2015 10:40:20 AM</td>
	</tr>
	<tr>
		<td>FIELD265306249 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.009</td>
		<td>0</td>
		<td>0.009</td>
		<td>0</td>
		<td>00:00:00.0000090</td>
		<td>0</td>
		<td>20/08/2015 10:40:20 AM</td>
	</tr>
	<tr>
		<td>FIELD265306250 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0371</td>
		<td>2</td>
		<td>0.0371</td>
		<td>2</td>
		<td>00:00:00.0000371</td>
		<td>2</td>
		<td>20/08/2015 10:40:20 AM</td>
	</tr>
	<tr>
		<td>FIELD265306251 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0075</td>
		<td>0</td>
		<td>0.0075</td>
		<td>0</td>
		<td>00:00:00.0000075</td>
		<td>0</td>
		<td>20/08/2015 10:40:20 AM</td>
	</tr>
	<tr>
		<td>FIELD265306252 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0057</td>
		<td>0</td>
		<td>0.0057</td>
		<td>0</td>
		<td>00:00:00.0000057</td>
		<td>0</td>
		<td>20/08/2015 10:40:20 AM</td>
	</tr>
	<tr>
		<td>FIELD265306264 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0676</td>
		<td>2</td>
		<td>0.0676</td>
		<td>2</td>
		<td>00:00:00.0000676</td>
		<td>2</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306265 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.025</td>
		<td>2</td>
		<td>0.025</td>
		<td>2</td>
		<td>00:00:00.0000250</td>
		<td>2</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306266 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0226</td>
		<td>2</td>
		<td>0.0226</td>
		<td>2</td>
		<td>00:00:00.0000226</td>
		<td>2</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306267 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0232</td>
		<td>2</td>
		<td>0.0232</td>
		<td>2</td>
		<td>00:00:00.0000232</td>
		<td>2</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306268 (Memo)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1768</td>
		<td>0</td>
		<td>0.1768</td>
		<td>0</td>
		<td>00:00:00.0001768</td>
		<td>0</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306269 (Tree)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1125</td>
		<td>0</td>
		<td>0.1125</td>
		<td>0</td>
		<td>00:00:00.0001125</td>
		<td>0</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306270 (RichText)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0172</td>
		<td>0</td>
		<td>0.0172</td>
		<td>0</td>
		<td>00:00:00.0000172</td>
		<td>0</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306271 (Tree)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0549</td>
		<td>0</td>
		<td>0.0549</td>
		<td>0</td>
		<td>00:00:00.0000549</td>
		<td>0</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306272 (Tristate)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.5343</td>
		<td>5</td>
		<td>0.5343</td>
		<td>5</td>
		<td>00:00:00.0005343</td>
		<td>5</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306273 (Link)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1213</td>
		<td>2</td>
		<td>0.1213</td>
		<td>2</td>
		<td>00:00:00.0001213</td>
		<td>2</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306274 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.006</td>
		<td>0</td>
		<td>0.006</td>
		<td>0</td>
		<td>00:00:00.0000060</td>
		<td>0</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306275 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0099</td>
		<td>0</td>
		<td>0.0099</td>
		<td>0</td>
		<td>00:00:00.0000099</td>
		<td>0</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306276 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0081</td>
		<td>0</td>
		<td>0.0081</td>
		<td>0</td>
		<td>00:00:00.0000081</td>
		<td>0</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306277 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0057</td>
		<td>0</td>
		<td>0.0057</td>
		<td>0</td>
		<td>00:00:00.0000057</td>
		<td>0</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306278 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0084</td>
		<td>0</td>
		<td>0.0084</td>
		<td>0</td>
		<td>00:00:00.0000084</td>
		<td>0</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306279 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0078</td>
		<td>0</td>
		<td>0.0078</td>
		<td>0</td>
		<td>00:00:00.0000078</td>
		<td>0</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306280 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0054</td>
		<td>0</td>
		<td>0.0054</td>
		<td>0</td>
		<td>00:00:00.0000054</td>
		<td>0</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306281 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0078</td>
		<td>0</td>
		<td>0.0078</td>
		<td>0</td>
		<td>00:00:00.0000078</td>
		<td>0</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306282 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.009</td>
		<td>0</td>
		<td>0.009</td>
		<td>0</td>
		<td>00:00:00.0000090</td>
		<td>0</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306283 (InternalLink)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0265</td>
		<td>2</td>
		<td>0.0265</td>
		<td>2</td>
		<td>00:00:00.0000265</td>
		<td>2</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306284 (InternalLink)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0229</td>
		<td>2</td>
		<td>0.0229</td>
		<td>2</td>
		<td>00:00:00.0000229</td>
		<td>2</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306285 (TreeList)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>2.9414</td>
		<td>197</td>
		<td>2.9414</td>
		<td>197</td>
		<td>00:00:00.0029414</td>
		<td>197</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306285_selected (Listbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0078</td>
		<td>0</td>
		<td>0.0078</td>
		<td>0</td>
		<td>00:00:00.0000078</td>
		<td>0</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306286 (TreeList)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>78.4374</td>
		<td>240</td>
		<td>78.4374</td>
		<td>240</td>
		<td>00:00:00.0784374</td>
		<td>240</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306286_selected (Listbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0105</td>
		<td>0</td>
		<td>0.0105</td>
		<td>0</td>
		<td>00:00:00.0000105</td>
		<td>0</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>FIELD265306287 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0087</td>
		<td>0</td>
		<td>0.0087</td>
		<td>0</td>
		<td>00:00:00.0000087</td>
		<td>0</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>globalHeaderUserPortrait (ThemedImage)</td>
		<td>shell</td>
		<td>20</td>
		<td>0</td>
		<td>0.3171</td>
		<td>0</td>
		<td>5.9626</td>
		<td>0</td>
		<td>00:00:00.0063432</td>
		<td>0</td>
		<td>20/08/2015 10:48:13 AM</td>
	</tr>
	<tr>
		<td>item:clone (MenuItem)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.1118</td>
		<td>2</td>
		<td>0.1219</td>
		<td>2</td>
		<td>00:00:00.0002236</td>
		<td>4</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>L265306289 (ListItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2532</td>
		<td>1</td>
		<td>0.2532</td>
		<td>1</td>
		<td>00:00:00.0002532</td>
		<td>1</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>L265306290 (ListItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0238</td>
		<td>2</td>
		<td>0.0238</td>
		<td>2</td>
		<td>00:00:00.0000238</td>
		<td>2</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>L265306291 (ListItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0208</td>
		<td>2</td>
		<td>0.0208</td>
		<td>2</td>
		<td>00:00:00.0000208</td>
		<td>2</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>OK (Button)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>0.1726</td>
		<td>4</td>
		<td>0.8452</td>
		<td>4</td>
		<td>00:00:00.0012084</td>
		<td>28</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td>OpenProperties (Checkbox)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>0.1073</td>
		<td>2</td>
		<td>0.6131</td>
		<td>2</td>
		<td>00:00:00.0007516</td>
		<td>14</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td>OpenPropertiesBorder (Border)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>0.1184</td>
		<td>2</td>
		<td>0.6263</td>
		<td>2</td>
		<td>00:00:00.0008292</td>
		<td>14</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td>Placeholder: placeholder</td>
		<td>shell</td>
		<td>28</td>
		<td>0</td>
		<td>22.3635</td>
		<td>147</td>
		<td>190.5437</td>
		<td>206</td>
		<td>00:00:00.6261789</td>
		<td>4119</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td>PlaceholderName (Edit)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>0.0606</td>
		<td>2</td>
		<td>0.2448</td>
		<td>2</td>
		<td>00:00:00.0004247</td>
		<td>14</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td>PlaceHolderNameBorder (Border)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>0.1479</td>
		<td>4</td>
		<td>0.3299</td>
		<td>4</td>
		<td>00:00:00.0010357</td>
		<td>28</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td>Renderings (Scrollbox)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>0.0268</td>
		<td>0</td>
		<td>0.0428</td>
		<td>0</td>
		<td>00:00:00.0001880</td>
		<td>0</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td>S265306292 (Scrollbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>2.8137</td>
		<td>193</td>
		<td>2.8137</td>
		<td>193</td>
		<td>00:00:00.0028137</td>
		<td>193</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>S265306294 (Scrollbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>78.2819</td>
		<td>236</td>
		<td>78.2819</td>
		<td>236</td>
		<td>00:00:00.0782819</td>
		<td>236</td>
		<td>20/08/2015 10:41:05 AM</td>
	</tr>
	<tr>
		<td>topHeader (GlobalHeader_a_368)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>0.0023</td>
		<td>0</td>
		<td>0.0057</td>
		<td>0</td>
		<td>00:00:00.0000163</td>
		<td>0</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
	<tr>
		<td>TreeviewContainer (Scrollbox)</td>
		<td>shell</td>
		<td>7</td>
		<td>0</td>
		<td>28.4966</td>
		<td>182</td>
		<td>185.0897</td>
		<td>188</td>
		<td>00:00:00.1994767</td>
		<td>1275</td>
		<td>20/08/2015 10:48:11 AM</td>
	</tr>
</table>
