<table border="1" cellpadding="2">
	<tr>
		<td>Rendering</td>
		<td>Site</td>
		<td>Count</td>
		<td>From cache</td>
		<td>Avg. time (ms)</td>
		<td>Avg. items</td>
		<td>Max. time</td>
		<td>Max. items</td>
		<td>Total time</td>
		<td>Total items</td>
		<td>Last run</td>
	</tr>
	<tr>
		<td> (Border)</td>
		<td>shell</td>
		<td>17</td>
		<td>0</td>
		<td>23.0438</td>
		<td>93</td>
		<td>190.0573</td>
		<td>254</td>
		<td>00:00:00.3917452</td>
		<td>1590</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td> (DocumentType)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.3691</td>
		<td>0</td>
		<td>0.3691</td>
		<td>0</td>
		<td>00:00:00.0003691</td>
		<td>0</td>
		<td>21/08/2015 11:41:33 AM</td>
	</tr>
	<tr>
		<td> (FormPage_a_304)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>193.399</td>
		<td>202</td>
		<td>193.399</td>
		<td>202</td>
		<td>00:00:00.1933990</td>
		<td>202</td>
		<td>21/08/2015 11:41:33 AM</td>
	</tr>
	<tr>
		<td> (GenericControl)</td>
		<td>shell</td>
		<td>13</td>
		<td>0</td>
		<td>59.2251</td>
		<td>62</td>
		<td>192.999</td>
		<td>202</td>
		<td>00:00:00.7699275</td>
		<td>818</td>
		<td>21/08/2015 11:41:33 AM</td>
	</tr>
	<tr>
		<td> (GlobalHeader_a_306)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0015</td>
		<td>0</td>
		<td>0.0015</td>
		<td>0</td>
		<td>00:00:00.0000015</td>
		<td>0</td>
		<td>21/08/2015 11:42:38 AM</td>
	</tr>
	<tr>
		<td> (GlobalKeys_a_307)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0051</td>
		<td>0</td>
		<td>0.0051</td>
		<td>0</td>
		<td>00:00:00.0000051</td>
		<td>0</td>
		<td>21/08/2015 11:41:33 AM</td>
	</tr>
	<tr>
		<td> (GridPanel)</td>
		<td>shell</td>
		<td>4</td>
		<td>0</td>
		<td>93.7216</td>
		<td>93</td>
		<td>188.9603</td>
		<td>186</td>
		<td>00:00:00.3748867</td>
		<td>372</td>
		<td>21/08/2015 11:42:38 AM</td>
	</tr>
	<tr>
		<td> (Image)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.019</td>
		<td>0</td>
		<td>0.019</td>
		<td>0</td>
		<td>00:00:00.0000190</td>
		<td>0</td>
		<td>21/08/2015 11:41:33 AM</td>
	</tr>
	<tr>
		<td> (KeyMap)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>7.4755</td>
		<td>18</td>
		<td>14.786</td>
		<td>28</td>
		<td>00:00:00.0149511</td>
		<td>37</td>
		<td>21/08/2015 11:42:30 AM</td>
	</tr>
	<tr>
		<td> (Literal)</td>
		<td>shell</td>
		<td>15</td>
		<td>0</td>
		<td>0.061</td>
		<td>1</td>
		<td>0.3652</td>
		<td>2</td>
		<td>00:00:00.0009161</td>
		<td>28</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td> (RegisterKey)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0279</td>
		<td>0</td>
		<td>0.0543</td>
		<td>0</td>
		<td>00:00:00.0000558</td>
		<td>0</td>
		<td>21/08/2015 11:42:30 AM</td>
	</tr>
	<tr>
		<td> (Sitecore_Shell_Applications_Dialogs_SelectRendering_a_302)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>193.5207</td>
		<td>202</td>
		<td>193.5207</td>
		<td>202</td>
		<td>00:00:00.1935207</td>
		<td>202</td>
		<td>21/08/2015 11:41:33 AM</td>
	</tr>
	<tr>
		<td> (Space)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.243</td>
		<td>0</td>
		<td>0.243</td>
		<td>0</td>
		<td>00:00:00.0002430</td>
		<td>0</td>
		<td>21/08/2015 11:41:33 AM</td>
	</tr>
	<tr>
		<td> (ThemedImage)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.0891</td>
		<td>0</td>
		<td>0.2001</td>
		<td>0</td>
		<td>00:00:00.0005346</td>
		<td>0</td>
		<td>21/08/2015 11:42:30 AM</td>
	</tr>
	<tr>
		<td> (WebPanel_a_305)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>193.3869</td>
		<td>202</td>
		<td>193.3869</td>
		<td>202</td>
		<td>00:00:00.1933869</td>
		<td>202</td>
		<td>21/08/2015 11:41:33 AM</td>
	</tr>
	<tr>
		<td>B036AC7605DE754494BBE720157BC38D67_menu (ContextMenu)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>0.6615</td>
		<td>4</td>
		<td>1.3973</td>
		<td>4</td>
		<td>00:00:00.0019845</td>
		<td>12</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>B036AC7605DE754494BBE720157BC38D67_menu_A16CB417A27449D4B52BDB995E9D0093 (MenuItem)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>0.3953</td>
		<td>2</td>
		<td>0.9173</td>
		<td>2</td>
		<td>00:00:00.0011860</td>
		<td>6</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>B05A4CD46DA5A64F9E9F44A45E072F9258_menu (ContextMenu)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.1687</td>
		<td>2</td>
		<td>0.2079</td>
		<td>2</td>
		<td>00:00:00.0003374</td>
		<td>4</td>
		<td>21/08/2015 11:42:36 AM</td>
	</tr>
	<tr>
		<td>B05A4CD46DA5A64F9E9F44A45E072F9258_menu_BECEB299B0C344E1967C5089CEFFE10D (MenuItem)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.1462</td>
		<td>2</td>
		<td>0.1781</td>
		<td>2</td>
		<td>00:00:00.0002925</td>
		<td>4</td>
		<td>21/08/2015 11:42:36 AM</td>
	</tr>
	<tr>
		<td>B265844B766F4D442AA5CE035D0A75EAB4_menu (ContextMenu)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>0.1528</td>
		<td>2</td>
		<td>0.1621</td>
		<td>2</td>
		<td>00:00:00.0004585</td>
		<td>6</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>B265844B766F4D442AA5CE035D0A75EAB4_menu_244867EA0A0B488AB8E89F9D2FD26FD9 (MenuItem)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>0.1312</td>
		<td>2</td>
		<td>0.1388</td>
		<td>2</td>
		<td>00:00:00.0003936</td>
		<td>6</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>B2AD816AF1E264DE1BBA2A42B5163A065_menu (ContextMenu)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>0.1341</td>
		<td>2</td>
		<td>0.1476</td>
		<td>2</td>
		<td>00:00:00.0004023</td>
		<td>6</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>B2AD816AF1E264DE1BBA2A42B5163A065_menu_78DCAAB64E824505A19169F8EF885621 (MenuItem)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>0.1149</td>
		<td>2</td>
		<td>0.1267</td>
		<td>2</td>
		<td>00:00:00.0003447</td>
		<td>6</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>B414550BADAF4542C9ADF44BED5FA6CB3E_menu (ContextMenu)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>0.2596</td>
		<td>4</td>
		<td>0.3024</td>
		<td>4</td>
		<td>00:00:00.0007788</td>
		<td>12</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>B414550BADAF4542C9ADF44BED5FA6CB3E_menu_98719A90225A4802A0625D3967E4DD47 (MenuItem)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>0.1166</td>
		<td>2</td>
		<td>0.1427</td>
		<td>2</td>
		<td>00:00:00.0003498</td>
		<td>6</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>B414550BADAF4542C9ADF44BED5FA6CB3E_menu_F7178B759AA648EAA70B97D59C54B033 (MenuItem)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>0.1154</td>
		<td>2</td>
		<td>0.1276</td>
		<td>2</td>
		<td>00:00:00.0003462</td>
		<td>6</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>Cancel (Button)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.051</td>
		<td>4</td>
		<td>0.051</td>
		<td>4</td>
		<td>00:00:00.0000510</td>
		<td>4</td>
		<td>21/08/2015 11:41:33 AM</td>
	</tr>
	<tr>
		<td>ContentEditor (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>2.1119</td>
		<td>10</td>
		<td>2.1119</td>
		<td>10</td>
		<td>00:00:00.0021119</td>
		<td>10</td>
		<td>21/08/2015 11:42:31 AM</td>
	</tr>
	<tr>
		<td>ContentEditorDataContext (DataContext)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0033</td>
		<td>0</td>
		<td>0.0033</td>
		<td>0</td>
		<td>00:00:00.0000033</td>
		<td>0</td>
		<td>21/08/2015 11:42:31 AM</td>
	</tr>
	<tr>
		<td>D84201490 (DataContext)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0009</td>
		<td>0</td>
		<td>0.0009</td>
		<td>0</td>
		<td>00:00:00.0000009</td>
		<td>0</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>D84201492 (DataContext)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0015</td>
		<td>0</td>
		<td>0.0015</td>
		<td>0</td>
		<td>00:00:00.0000015</td>
		<td>0</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>DataContext (DataContext)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.7272</td>
		<td>0</td>
		<td>0.7272</td>
		<td>0</td>
		<td>00:00:00.0007272</td>
		<td>0</td>
		<td>21/08/2015 11:41:33 AM</td>
	</tr>
	<tr>
		<td>Dialog (FormDialog_a_303)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>193.4108</td>
		<td>202</td>
		<td>193.4108</td>
		<td>202</td>
		<td>00:00:00.1934108</td>
		<td>202</td>
		<td>21/08/2015 11:41:33 AM</td>
	</tr>
	<tr>
		<td>EditorFrames (Border)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>23.5988</td>
		<td>165</td>
		<td>68.6719</td>
		<td>487</td>
		<td>00:00:00.0707965</td>
		<td>497</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>Editors (Border)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>23.6122</td>
		<td>165</td>
		<td>68.6852</td>
		<td>487</td>
		<td>00:00:00.0708366</td>
		<td>497</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FContent (Border)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>23.5897</td>
		<td>165</td>
		<td>68.6656</td>
		<td>487</td>
		<td>00:00:00.0707693</td>
		<td>497</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201428 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0377</td>
		<td>2</td>
		<td>0.0377</td>
		<td>2</td>
		<td>00:00:00.0000377</td>
		<td>2</td>
		<td>21/08/2015 11:42:31 AM</td>
	</tr>
	<tr>
		<td>FIELD84201429 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0244</td>
		<td>2</td>
		<td>0.0244</td>
		<td>2</td>
		<td>00:00:00.0000244</td>
		<td>2</td>
		<td>21/08/2015 11:42:31 AM</td>
	</tr>
	<tr>
		<td>FIELD84201430 (RichText)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.7033</td>
		<td>0</td>
		<td>0.7033</td>
		<td>0</td>
		<td>00:00:00.0007033</td>
		<td>0</td>
		<td>21/08/2015 11:42:31 AM</td>
	</tr>
	<tr>
		<td>FIELD84201431 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0332</td>
		<td>2</td>
		<td>0.0332</td>
		<td>2</td>
		<td>00:00:00.0000332</td>
		<td>2</td>
		<td>21/08/2015 11:42:31 AM</td>
	</tr>
	<tr>
		<td>FIELD84201432 (Tree)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.8497</td>
		<td>0</td>
		<td>0.8497</td>
		<td>0</td>
		<td>00:00:00.0008497</td>
		<td>0</td>
		<td>21/08/2015 11:42:31 AM</td>
	</tr>
	<tr>
		<td>FIELD84201433 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0356</td>
		<td>2</td>
		<td>0.0356</td>
		<td>2</td>
		<td>00:00:00.0000356</td>
		<td>2</td>
		<td>21/08/2015 11:42:31 AM</td>
	</tr>
	<tr>
		<td>FIELD84201434 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0117</td>
		<td>0</td>
		<td>0.0117</td>
		<td>0</td>
		<td>00:00:00.0000117</td>
		<td>0</td>
		<td>21/08/2015 11:42:31 AM</td>
	</tr>
	<tr>
		<td>FIELD84201435 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0072</td>
		<td>0</td>
		<td>0.0072</td>
		<td>0</td>
		<td>00:00:00.0000072</td>
		<td>0</td>
		<td>21/08/2015 11:42:31 AM</td>
	</tr>
	<tr>
		<td>FIELD84201436 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0063</td>
		<td>0</td>
		<td>0.0063</td>
		<td>0</td>
		<td>00:00:00.0000063</td>
		<td>0</td>
		<td>21/08/2015 11:42:31 AM</td>
	</tr>
	<tr>
		<td>FIELD84201437 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0256</td>
		<td>2</td>
		<td>0.0256</td>
		<td>2</td>
		<td>00:00:00.0000256</td>
		<td>2</td>
		<td>21/08/2015 11:42:31 AM</td>
	</tr>
	<tr>
		<td>FIELD84201438 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.006</td>
		<td>0</td>
		<td>0.006</td>
		<td>0</td>
		<td>00:00:00.0000060</td>
		<td>0</td>
		<td>21/08/2015 11:42:31 AM</td>
	</tr>
	<tr>
		<td>FIELD84201439 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0048</td>
		<td>0</td>
		<td>0.0048</td>
		<td>0</td>
		<td>00:00:00.0000048</td>
		<td>0</td>
		<td>21/08/2015 11:42:31 AM</td>
	</tr>
	<tr>
		<td>FIELD84201461 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0664</td>
		<td>2</td>
		<td>0.0664</td>
		<td>2</td>
		<td>00:00:00.0000664</td>
		<td>2</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201462 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.025</td>
		<td>2</td>
		<td>0.025</td>
		<td>2</td>
		<td>00:00:00.0000250</td>
		<td>2</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201463 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0232</td>
		<td>2</td>
		<td>0.0232</td>
		<td>2</td>
		<td>00:00:00.0000232</td>
		<td>2</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201464 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0232</td>
		<td>2</td>
		<td>0.0232</td>
		<td>2</td>
		<td>00:00:00.0000232</td>
		<td>2</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201465 (Memo)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1805</td>
		<td>0</td>
		<td>0.1805</td>
		<td>0</td>
		<td>00:00:00.0001805</td>
		<td>0</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201466 (Tree)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1141</td>
		<td>0</td>
		<td>0.1141</td>
		<td>0</td>
		<td>00:00:00.0001141</td>
		<td>0</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201467 (RichText)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0163</td>
		<td>0</td>
		<td>0.0163</td>
		<td>0</td>
		<td>00:00:00.0000163</td>
		<td>0</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201468 (Tree)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0588</td>
		<td>0</td>
		<td>0.0588</td>
		<td>0</td>
		<td>00:00:00.0000588</td>
		<td>0</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201469 (Tristate)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.5457</td>
		<td>5</td>
		<td>0.5457</td>
		<td>5</td>
		<td>00:00:00.0005457</td>
		<td>5</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201470 (Link)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1144</td>
		<td>2</td>
		<td>0.1144</td>
		<td>2</td>
		<td>00:00:00.0001144</td>
		<td>2</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201471 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0063</td>
		<td>0</td>
		<td>0.0063</td>
		<td>0</td>
		<td>00:00:00.0000063</td>
		<td>0</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201472 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0048</td>
		<td>0</td>
		<td>0.0048</td>
		<td>0</td>
		<td>00:00:00.0000048</td>
		<td>0</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201473 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0054</td>
		<td>0</td>
		<td>0.0054</td>
		<td>0</td>
		<td>00:00:00.0000054</td>
		<td>0</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201474 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0051</td>
		<td>0</td>
		<td>0.0051</td>
		<td>0</td>
		<td>00:00:00.0000051</td>
		<td>0</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201475 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0048</td>
		<td>0</td>
		<td>0.0048</td>
		<td>0</td>
		<td>00:00:00.0000048</td>
		<td>0</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201476 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0054</td>
		<td>0</td>
		<td>0.0054</td>
		<td>0</td>
		<td>00:00:00.0000054</td>
		<td>0</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201477 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0054</td>
		<td>0</td>
		<td>0.0054</td>
		<td>0</td>
		<td>00:00:00.0000054</td>
		<td>0</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201478 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0045</td>
		<td>0</td>
		<td>0.0045</td>
		<td>0</td>
		<td>00:00:00.0000045</td>
		<td>0</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201479 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0087</td>
		<td>0</td>
		<td>0.0087</td>
		<td>0</td>
		<td>00:00:00.0000087</td>
		<td>0</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201480 (InternalLink)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0262</td>
		<td>2</td>
		<td>0.0262</td>
		<td>2</td>
		<td>00:00:00.0000262</td>
		<td>2</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201481 (InternalLink)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0214</td>
		<td>2</td>
		<td>0.0214</td>
		<td>2</td>
		<td>00:00:00.0000214</td>
		<td>2</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201482 (TreeList)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>3.0247</td>
		<td>214</td>
		<td>3.0247</td>
		<td>214</td>
		<td>00:00:00.0030247</td>
		<td>214</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201482_selected (Listbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0081</td>
		<td>0</td>
		<td>0.0081</td>
		<td>0</td>
		<td>00:00:00.0000081</td>
		<td>0</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201483 (TreeList)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>64.2229</td>
		<td>254</td>
		<td>64.2229</td>
		<td>254</td>
		<td>00:00:00.0642229</td>
		<td>254</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201483_selected (Listbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0108</td>
		<td>0</td>
		<td>0.0108</td>
		<td>0</td>
		<td>00:00:00.0000108</td>
		<td>0</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>FIELD84201484 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0087</td>
		<td>0</td>
		<td>0.0087</td>
		<td>0</td>
		<td>00:00:00.0000087</td>
		<td>0</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>globalHeaderUserPortrait (ThemedImage)</td>
		<td>shell</td>
		<td>4</td>
		<td>0</td>
		<td>2.835</td>
		<td>0</td>
		<td>11.2324</td>
		<td>0</td>
		<td>00:00:00.0113401</td>
		<td>0</td>
		<td>21/08/2015 11:42:30 AM</td>
	</tr>
	<tr>
		<td>item:clone (MenuItem)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>0.1159</td>
		<td>2</td>
		<td>0.124</td>
		<td>2</td>
		<td>00:00:00.0003477</td>
		<td>6</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>ItemList (Scrollbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0262</td>
		<td>0</td>
		<td>0.0262</td>
		<td>0</td>
		<td>00:00:00.0000262</td>
		<td>0</td>
		<td>21/08/2015 11:42:38 AM</td>
	</tr>
	<tr>
		<td>L84201486 (ListItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2608</td>
		<td>1</td>
		<td>0.2608</td>
		<td>1</td>
		<td>00:00:00.0002608</td>
		<td>1</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>L84201487 (ListItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0244</td>
		<td>2</td>
		<td>0.0244</td>
		<td>2</td>
		<td>00:00:00.0000244</td>
		<td>2</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>L84201488 (ListItem)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0193</td>
		<td>2</td>
		<td>0.0193</td>
		<td>2</td>
		<td>00:00:00.0000193</td>
		<td>2</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>OK (Button)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.8515</td>
		<td>4</td>
		<td>0.8515</td>
		<td>4</td>
		<td>00:00:00.0008515</td>
		<td>4</td>
		<td>21/08/2015 11:41:33 AM</td>
	</tr>
	<tr>
		<td>OpenProperties (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.7483</td>
		<td>2</td>
		<td>0.7483</td>
		<td>2</td>
		<td>00:00:00.0007483</td>
		<td>2</td>
		<td>21/08/2015 11:41:33 AM</td>
	</tr>
	<tr>
		<td>OpenPropertiesBorder (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.7655</td>
		<td>2</td>
		<td>0.7655</td>
		<td>2</td>
		<td>00:00:00.0007655</td>
		<td>2</td>
		<td>21/08/2015 11:41:33 AM</td>
	</tr>
	<tr>
		<td>Placeholder: placeholder</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>95.9037</td>
		<td>98</td>
		<td>192.3111</td>
		<td>200</td>
		<td>00:00:00.5754227</td>
		<td>588</td>
		<td>21/08/2015 11:42:38 AM</td>
	</tr>
	<tr>
		<td>Placeholder: scripts</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0018</td>
		<td>0</td>
		<td>0.0018</td>
		<td>0</td>
		<td>00:00:00.0000018</td>
		<td>0</td>
		<td>21/08/2015 11:42:38 AM</td>
	</tr>
	<tr>
		<td>Placeholder: stylesheets</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.006</td>
		<td>0</td>
		<td>0.006</td>
		<td>0</td>
		<td>00:00:00.0000060</td>
		<td>0</td>
		<td>21/08/2015 11:42:38 AM</td>
	</tr>
	<tr>
		<td>PlaceholderName (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2626</td>
		<td>2</td>
		<td>0.2626</td>
		<td>2</td>
		<td>00:00:00.0002626</td>
		<td>2</td>
		<td>21/08/2015 11:41:33 AM</td>
	</tr>
	<tr>
		<td>PlaceHolderNameBorder (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.3495</td>
		<td>4</td>
		<td>0.3495</td>
		<td>4</td>
		<td>00:00:00.0003495</td>
		<td>4</td>
		<td>21/08/2015 11:41:33 AM</td>
	</tr>
	<tr>
		<td>Renderings (Scrollbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0262</td>
		<td>0</td>
		<td>0.0262</td>
		<td>0</td>
		<td>00:00:00.0000262</td>
		<td>0</td>
		<td>21/08/2015 11:41:33 AM</td>
	</tr>
	<tr>
		<td>S84201489 (Scrollbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>2.9037</td>
		<td>210</td>
		<td>2.9037</td>
		<td>210</td>
		<td>00:00:00.0029037</td>
		<td>210</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>S84201491 (Scrollbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>64.0756</td>
		<td>250</td>
		<td>64.0756</td>
		<td>250</td>
		<td>00:00:00.0640756</td>
		<td>250</td>
		<td>21/08/2015 11:42:39 AM</td>
	</tr>
	<tr>
		<td>topHeader (GlobalHeader_a_306)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0075</td>
		<td>0</td>
		<td>0.0075</td>
		<td>0</td>
		<td>00:00:00.0000075</td>
		<td>0</td>
		<td>21/08/2015 11:41:33 AM</td>
	</tr>
	<tr>
		<td>TreeviewContainer (Scrollbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>185.3004</td>
		<td>182</td>
		<td>185.3004</td>
		<td>182</td>
		<td>00:00:00.1853004</td>
		<td>182</td>
		<td>21/08/2015 11:41:33 AM</td>
	</tr>
</table>
