<table border="1" cellpadding="2">
	<tr>
		<td>Rendering</td>
		<td>Site</td>
		<td>Count</td>
		<td>From cache</td>
		<td>Avg. time (ms)</td>
		<td>Avg. items</td>
		<td>Max. time</td>
		<td>Max. items</td>
		<td>Total time</td>
		<td>Total items</td>
		<td>Last run</td>
	</tr>
	<tr>
		<td> (VisitorIdentification)</td>
		<td>service</td>
		<td>15</td>
		<td>0</td>
		<td>550.489</td>
		<td>0</td>
		<td>8246.0853</td>
		<td>6</td>
		<td>00:00:08.2573352</td>
		<td>8</td>
		<td>20/08/2015 2:29:36 PM</td>
	</tr>
	<tr>
		<td> (Border)</td>
		<td>shell</td>
		<td>194</td>
		<td>0</td>
		<td>2.0457</td>
		<td>9</td>
		<td>255.3304</td>
		<td>840</td>
		<td>00:00:00.3968815</td>
		<td>1824</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td> (Button)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0264</td>
		<td>2</td>
		<td>0.0271</td>
		<td>2</td>
		<td>00:00:00.0000528</td>
		<td>4</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td> (DeviceEditor_a_427)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>4.4638</td>
		<td>100</td>
		<td>4.4638</td>
		<td>100</td>
		<td>00:00:00.0044638</td>
		<td>100</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td> (DeviceRendering_a_428)</td>
		<td>shell</td>
		<td>27</td>
		<td>0</td>
		<td>0.5721</td>
		<td>4</td>
		<td>13.2271</td>
		<td>4</td>
		<td>00:00:00.0154486</td>
		<td>108</td>
		<td>20/08/2015 2:18:13 PM</td>
	</tr>
	<tr>
		<td> (DocumentType)</td>
		<td>shell</td>
		<td>4</td>
		<td>0</td>
		<td>0.0918</td>
		<td>0</td>
		<td>0.3525</td>
		<td>0</td>
		<td>00:00:00.0003673</td>
		<td>0</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td> (FormDialog_a_420)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>3.9478</td>
		<td>64</td>
		<td>4.4526</td>
		<td>100</td>
		<td>00:00:00.0078957</td>
		<td>128</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td> (FormPage_a_421)</td>
		<td>shell</td>
		<td>4</td>
		<td>0</td>
		<td>91.2628</td>
		<td>259</td>
		<td>256.0631</td>
		<td>856</td>
		<td>00:00:00.3650514</td>
		<td>1036</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td> (GenericControl)</td>
		<td>shell</td>
		<td>140</td>
		<td>0</td>
		<td>11.8396</td>
		<td>31</td>
		<td>256.0314</td>
		<td>856</td>
		<td>00:00:01.6575500</td>
		<td>4412</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td> (GlobalKeys_a_424)</td>
		<td>shell</td>
		<td>4</td>
		<td>0</td>
		<td>0.0043</td>
		<td>0</td>
		<td>0.0078</td>
		<td>0</td>
		<td>00:00:00.0000172</td>
		<td>0</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td> (GridPanel)</td>
		<td>shell</td>
		<td>52</td>
		<td>0</td>
		<td>10.5341</td>
		<td>44</td>
		<td>255.2221</td>
		<td>840</td>
		<td>00:00:00.5477783</td>
		<td>2298</td>
		<td>20/08/2015 2:18:15 PM</td>
	</tr>
	<tr>
		<td> (Image)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0147</td>
		<td>0</td>
		<td>0.0147</td>
		<td>0</td>
		<td>00:00:00.0000147</td>
		<td>0</td>
		<td>20/08/2015 2:17:38 PM</td>
	</tr>
	<tr>
		<td> (Inline)</td>
		<td>shell</td>
		<td>20</td>
		<td>0</td>
		<td>0.1533</td>
		<td>2</td>
		<td>0.2825</td>
		<td>2</td>
		<td>00:00:00.0030667</td>
		<td>40</td>
		<td>20/08/2015 2:18:15 PM</td>
	</tr>
	<tr>
		<td> (KeyMap)</td>
		<td>shell</td>
		<td>5</td>
		<td>0</td>
		<td>3.3638</td>
		<td>11</td>
		<td>16.2604</td>
		<td>28</td>
		<td>00:00:00.0168191</td>
		<td>58</td>
		<td>20/08/2015 2:18:51 PM</td>
	</tr>
	<tr>
		<td> (LayoutDetails_a_419)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>3.4537</td>
		<td>28</td>
		<td>3.4537</td>
		<td>28</td>
		<td>00:00:00.0034537</td>
		<td>28</td>
		<td>20/08/2015 2:17:31 PM</td>
	</tr>
	<tr>
		<td> (LayoutFieldDevice_a_425)</td>
		<td>shell</td>
		<td>10</td>
		<td>0</td>
		<td>0.8943</td>
		<td>20</td>
		<td>1.679</td>
		<td>41</td>
		<td>00:00:00.0089436</td>
		<td>208</td>
		<td>20/08/2015 2:18:15 PM</td>
	</tr>
	<tr>
		<td> (Literal)</td>
		<td>shell</td>
		<td>178</td>
		<td>0</td>
		<td>0.1038</td>
		<td>2</td>
		<td>12.9138</td>
		<td>4</td>
		<td>00:00:00.0184803</td>
		<td>370</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td> (Publish_a_437)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>101.1423</td>
		<td>52</td>
		<td>101.1423</td>
		<td>52</td>
		<td>00:00:00.1011423</td>
		<td>52</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td> (RegisterKey)</td>
		<td>shell</td>
		<td>5</td>
		<td>0</td>
		<td>0.0126</td>
		<td>0</td>
		<td>0.0552</td>
		<td>0</td>
		<td>00:00:00.0000630</td>
		<td>0</td>
		<td>20/08/2015 2:18:51 PM</td>
	</tr>
	<tr>
		<td> (Scrollbox)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.1897</td>
		<td>5</td>
		<td>0.2137</td>
		<td>8</td>
		<td>00:00:00.0003794</td>
		<td>10</td>
		<td>20/08/2015 2:17:31 PM</td>
	</tr>
	<tr>
		<td> (Sitecore_Shell_Applications_Dialogs_SelectRendering_a_429)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>256.0776</td>
		<td>856</td>
		<td>256.0776</td>
		<td>856</td>
		<td>00:00:00.2560776</td>
		<td>856</td>
		<td>20/08/2015 2:17:39 PM</td>
	</tr>
	<tr>
		<td> (Space)</td>
		<td>shell</td>
		<td>21</td>
		<td>0</td>
		<td>0.012</td>
		<td>0</td>
		<td>0.2212</td>
		<td>0</td>
		<td>00:00:00.0002529</td>
		<td>0</td>
		<td>20/08/2015 2:18:15 PM</td>
	</tr>
	<tr>
		<td> (ThemedImage)</td>
		<td>shell</td>
		<td>68</td>
		<td>0</td>
		<td>0.1203</td>
		<td>0</td>
		<td>1.3113</td>
		<td>2</td>
		<td>00:00:00.0081822</td>
		<td>18</td>
		<td>20/08/2015 2:18:51 PM</td>
	</tr>
	<tr>
		<td> (WebPanel_a_422)</td>
		<td>shell</td>
		<td>4</td>
		<td>0</td>
		<td>91.2552</td>
		<td>259</td>
		<td>256.0582</td>
		<td>856</td>
		<td>00:00:00.3650209</td>
		<td>1036</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td> (WizardForm_a_438)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>101.1281</td>
		<td>52</td>
		<td>101.1281</td>
		<td>52</td>
		<td>00:00:00.1011281</td>
		<td>52</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td> (WizardFormPadding_a_440)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>31.1428</td>
		<td>8</td>
		<td>92.7436</td>
		<td>20</td>
		<td>00:00:00.0934285</td>
		<td>26</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td> (WorkboxCommand_a_426)</td>
		<td>shell</td>
		<td>20</td>
		<td>0</td>
		<td>0.1565</td>
		<td>2</td>
		<td>0.2891</td>
		<td>2</td>
		<td>00:00:00.0031319</td>
		<td>40</td>
		<td>20/08/2015 2:18:15 PM</td>
	</tr>
	<tr>
		<td>B036AC7605DE754494BBE720157BC38D67_menu (ContextMenu)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>2.3692</td>
		<td>4</td>
		<td>4.4909</td>
		<td>4</td>
		<td>00:00:00.0047385</td>
		<td>8</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>B036AC7605DE754494BBE720157BC38D67_menu_A16CB417A27449D4B52BDB995E9D0093 (MenuItem)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.7738</td>
		<td>2</td>
		<td>1.4332</td>
		<td>2</td>
		<td>00:00:00.0015477</td>
		<td>4</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>B05A4CD46DA5A64F9E9F44A45E072F9258_menu (ContextMenu)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.1417</td>
		<td>2</td>
		<td>0.1602</td>
		<td>2</td>
		<td>00:00:00.0002834</td>
		<td>4</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>B05A4CD46DA5A64F9E9F44A45E072F9258_menu_BECEB299B0C344E1967C5089CEFFE10D (MenuItem)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.1228</td>
		<td>2</td>
		<td>0.1349</td>
		<td>2</td>
		<td>00:00:00.0002457</td>
		<td>4</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>B265844B766F4D442AA5CE035D0A75EAB4_menu (ContextMenu)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.155</td>
		<td>2</td>
		<td>0.1636</td>
		<td>2</td>
		<td>00:00:00.0003100</td>
		<td>4</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>B265844B766F4D442AA5CE035D0A75EAB4_menu_244867EA0A0B488AB8E89F9D2FD26FD9 (MenuItem)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.1337</td>
		<td>2</td>
		<td>0.1409</td>
		<td>2</td>
		<td>00:00:00.0002674</td>
		<td>4</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>B2AD816AF1E264DE1BBA2A42B5163A065_menu (ContextMenu)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.2298</td>
		<td>2</td>
		<td>0.3136</td>
		<td>2</td>
		<td>00:00:00.0004597</td>
		<td>4</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>B2AD816AF1E264DE1BBA2A42B5163A065_menu_78DCAAB64E824505A19169F8EF885621 (MenuItem)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.2036</td>
		<td>2</td>
		<td>0.2858</td>
		<td>2</td>
		<td>00:00:00.0004072</td>
		<td>4</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>B414550BADAF4542C9ADF44BED5FA6CB3E_menu (ContextMenu)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.2907</td>
		<td>4</td>
		<td>0.3054</td>
		<td>4</td>
		<td>00:00:00.0005814</td>
		<td>8</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>B414550BADAF4542C9ADF44BED5FA6CB3E_menu_98719A90225A4802A0625D3967E4DD47 (MenuItem)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.134</td>
		<td>2</td>
		<td>0.1445</td>
		<td>2</td>
		<td>00:00:00.0002680</td>
		<td>4</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>B414550BADAF4542C9ADF44BED5FA6CB3E_menu_F7178B759AA648EAA70B97D59C54B033 (MenuItem)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.1307</td>
		<td>2</td>
		<td>0.1316</td>
		<td>2</td>
		<td>00:00:00.0002614</td>
		<td>4</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>BackButton (Button)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0576</td>
		<td>2</td>
		<td>0.0576</td>
		<td>2</td>
		<td>00:00:00.0000576</td>
		<td>2</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>btnChange (Button)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.035</td>
		<td>2</td>
		<td>0.035</td>
		<td>2</td>
		<td>00:00:00.0000350</td>
		<td>2</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td>btnEdit (Button)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0271</td>
		<td>2</td>
		<td>0.0271</td>
		<td>2</td>
		<td>00:00:00.0000271</td>
		<td>2</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td>btnRemove (Button)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.025</td>
		<td>2</td>
		<td>0.025</td>
		<td>2</td>
		<td>00:00:00.0000250</td>
		<td>2</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td>Cancel (Button)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>0.0517</td>
		<td>4</td>
		<td>0.0594</td>
		<td>4</td>
		<td>00:00:00.0001551</td>
		<td>12</td>
		<td>20/08/2015 2:17:39 PM</td>
	</tr>
	<tr>
		<td>CancelButton (Button)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0952</td>
		<td>2</td>
		<td>0.1328</td>
		<td>2</td>
		<td>00:00:00.0001904</td>
		<td>4</td>
		<td>20/08/2015 2:19:44 PM</td>
	</tr>
	<tr>
		<td>ContentEditor (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>3.3489</td>
		<td>10</td>
		<td>3.3489</td>
		<td>10</td>
		<td>00:00:00.0033489</td>
		<td>10</td>
		<td>20/08/2015 2:17:14 PM</td>
	</tr>
	<tr>
		<td>ContentEditorDataContext (DataContext)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1095</td>
		<td>0</td>
		<td>0.1095</td>
		<td>0</td>
		<td>00:00:00.0001095</td>
		<td>0</td>
		<td>20/08/2015 2:17:14 PM</td>
	</tr>
	<tr>
		<td>ControlsTab (Tab)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.7359</td>
		<td>32</td>
		<td>0.7359</td>
		<td>32</td>
		<td>00:00:00.0007359</td>
		<td>32</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td>DataContext (DataContext)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0836</td>
		<td>0</td>
		<td>0.0836</td>
		<td>0</td>
		<td>00:00:00.0000836</td>
		<td>0</td>
		<td>20/08/2015 2:17:38 PM</td>
	</tr>
	<tr>
		<td>Dialog (FormDialog_a_420)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>256.0679</td>
		<td>856</td>
		<td>256.0679</td>
		<td>856</td>
		<td>00:00:00.2560679</td>
		<td>856</td>
		<td>20/08/2015 2:17:39 PM</td>
	</tr>
	<tr>
		<td>EditorFrames (Border)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>1.9571</td>
		<td>10</td>
		<td>3.2058</td>
		<td>10</td>
		<td>00:00:00.0039143</td>
		<td>20</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>Editors (Border)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>1.9701</td>
		<td>10</td>
		<td>3.2167</td>
		<td>10</td>
		<td>00:00:00.0039403</td>
		<td>20</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>ErrorText (Memo)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.4799</td>
		<td>0</td>
		<td>0.4799</td>
		<td>0</td>
		<td>00:00:00.0004799</td>
		<td>0</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>FContent (Border)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>1.952</td>
		<td>10</td>
		<td>3.201</td>
		<td>10</td>
		<td>00:00:00.0039041</td>
		<td>20</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>FIELD7137222 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.5246</td>
		<td>2</td>
		<td>0.5246</td>
		<td>2</td>
		<td>00:00:00.0005246</td>
		<td>2</td>
		<td>20/08/2015 2:17:14 PM</td>
	</tr>
	<tr>
		<td>FIELD7137223 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0356</td>
		<td>2</td>
		<td>0.0356</td>
		<td>2</td>
		<td>00:00:00.0000356</td>
		<td>2</td>
		<td>20/08/2015 2:17:14 PM</td>
	</tr>
	<tr>
		<td>FIELD7137224 (RichText)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.6037</td>
		<td>0</td>
		<td>0.6037</td>
		<td>0</td>
		<td>00:00:00.0006037</td>
		<td>0</td>
		<td>20/08/2015 2:17:14 PM</td>
	</tr>
	<tr>
		<td>FIELD7137225 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0356</td>
		<td>2</td>
		<td>0.0356</td>
		<td>2</td>
		<td>00:00:00.0000356</td>
		<td>2</td>
		<td>20/08/2015 2:17:14 PM</td>
	</tr>
	<tr>
		<td>FIELD7137226 (Tree)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.8911</td>
		<td>0</td>
		<td>0.8911</td>
		<td>0</td>
		<td>00:00:00.0008911</td>
		<td>0</td>
		<td>20/08/2015 2:17:14 PM</td>
	</tr>
	<tr>
		<td>FIELD7137227 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0482</td>
		<td>2</td>
		<td>0.0482</td>
		<td>2</td>
		<td>00:00:00.0000482</td>
		<td>2</td>
		<td>20/08/2015 2:17:14 PM</td>
	</tr>
	<tr>
		<td>FIELD7137228 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.6321</td>
		<td>0</td>
		<td>0.6321</td>
		<td>0</td>
		<td>00:00:00.0006321</td>
		<td>0</td>
		<td>20/08/2015 2:17:14 PM</td>
	</tr>
	<tr>
		<td>FIELD7137229 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0163</td>
		<td>0</td>
		<td>0.0163</td>
		<td>0</td>
		<td>00:00:00.0000163</td>
		<td>0</td>
		<td>20/08/2015 2:17:14 PM</td>
	</tr>
	<tr>
		<td>FIELD7137230 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0087</td>
		<td>0</td>
		<td>0.0087</td>
		<td>0</td>
		<td>00:00:00.0000087</td>
		<td>0</td>
		<td>20/08/2015 2:17:14 PM</td>
	</tr>
	<tr>
		<td>FIELD7137231 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0395</td>
		<td>2</td>
		<td>0.0395</td>
		<td>2</td>
		<td>00:00:00.0000395</td>
		<td>2</td>
		<td>20/08/2015 2:17:14 PM</td>
	</tr>
	<tr>
		<td>FIELD7137232 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0081</td>
		<td>0</td>
		<td>0.0081</td>
		<td>0</td>
		<td>00:00:00.0000081</td>
		<td>0</td>
		<td>20/08/2015 2:17:14 PM</td>
	</tr>
	<tr>
		<td>FIELD7137233 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.006</td>
		<td>0</td>
		<td>0.006</td>
		<td>0</td>
		<td>00:00:00.0000060</td>
		<td>0</td>
		<td>20/08/2015 2:17:14 PM</td>
	</tr>
	<tr>
		<td>FIELD7137269 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2411</td>
		<td>2</td>
		<td>0.2411</td>
		<td>2</td>
		<td>00:00:00.0002411</td>
		<td>2</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>FIELD7137270 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0984</td>
		<td>2</td>
		<td>0.0984</td>
		<td>2</td>
		<td>00:00:00.0000984</td>
		<td>2</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>FIELD7137271 (RichText)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0271</td>
		<td>0</td>
		<td>0.0271</td>
		<td>0</td>
		<td>00:00:00.0000271</td>
		<td>0</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>FIELD7137272 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0262</td>
		<td>2</td>
		<td>0.0262</td>
		<td>2</td>
		<td>00:00:00.0000262</td>
		<td>2</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>FIELD7137273 (Tree)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1005</td>
		<td>0</td>
		<td>0.1005</td>
		<td>0</td>
		<td>00:00:00.0001005</td>
		<td>0</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>FIELD7137274 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.031</td>
		<td>2</td>
		<td>0.031</td>
		<td>2</td>
		<td>00:00:00.0000310</td>
		<td>2</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>FIELD7137275 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0084</td>
		<td>0</td>
		<td>0.0084</td>
		<td>0</td>
		<td>00:00:00.0000084</td>
		<td>0</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>FIELD7137276 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0063</td>
		<td>0</td>
		<td>0.0063</td>
		<td>0</td>
		<td>00:00:00.0000063</td>
		<td>0</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>FIELD7137277 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0057</td>
		<td>0</td>
		<td>0.0057</td>
		<td>0</td>
		<td>00:00:00.0000057</td>
		<td>0</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>FIELD7137278 (Text)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0247</td>
		<td>2</td>
		<td>0.0247</td>
		<td>2</td>
		<td>00:00:00.0000247</td>
		<td>2</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>FIELD7137279 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0057</td>
		<td>0</td>
		<td>0.0057</td>
		<td>0</td>
		<td>00:00:00.0000057</td>
		<td>0</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>FIELD7137280 (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.006</td>
		<td>0</td>
		<td>0.006</td>
		<td>0</td>
		<td>00:00:00.0000060</td>
		<td>0</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>FinalLayoutNoVersionWarningPanel (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1147</td>
		<td>6</td>
		<td>0.1147</td>
		<td>6</td>
		<td>00:00:00.0001147</td>
		<td>6</td>
		<td>20/08/2015 2:17:31 PM</td>
	</tr>
	<tr>
		<td>FinalLayoutPanel (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0027</td>
		<td>0</td>
		<td>0.0027</td>
		<td>0</td>
		<td>00:00:00.0000027</td>
		<td>0</td>
		<td>20/08/2015 2:17:31 PM</td>
	</tr>
	<tr>
		<td>FinalLayoutTab (Tab)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1681</td>
		<td>8</td>
		<td>0.1681</td>
		<td>8</td>
		<td>00:00:00.0001681</td>
		<td>8</td>
		<td>20/08/2015 2:17:31 PM</td>
	</tr>
	<tr>
		<td>globalHeaderUserPortrait (ThemedImage)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0836</td>
		<td>0</td>
		<td>0.0836</td>
		<td>0</td>
		<td>00:00:00.0000836</td>
		<td>0</td>
		<td>20/08/2015 2:17:14 PM</td>
	</tr>
	<tr>
		<td>IncrementalPublish (Radiobutton)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.5325</td>
		<td>2</td>
		<td>0.5325</td>
		<td>2</td>
		<td>00:00:00.0005325</td>
		<td>2</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>IncrementalPublishPane (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.5551</td>
		<td>2</td>
		<td>0.5551</td>
		<td>2</td>
		<td>00:00:00.0005551</td>
		<td>2</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>item:clone (MenuItem)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.1166</td>
		<td>2</td>
		<td>0.1273</td>
		<td>2</td>
		<td>00:00:00.0002333</td>
		<td>4</td>
		<td>20/08/2015 2:18:20 PM</td>
	</tr>
	<tr>
		<td>Languages (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0132</td>
		<td>0</td>
		<td>0.0132</td>
		<td>0</td>
		<td>00:00:00.0000132</td>
		<td>0</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>LanguagesPanel (Groupbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1032</td>
		<td>4</td>
		<td>0.1032</td>
		<td>4</td>
		<td>00:00:00.0001032</td>
		<td>4</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>LastPage (WizardFormPage_a_439)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2952</td>
		<td>10</td>
		<td>0.2952</td>
		<td>10</td>
		<td>00:00:00.0002952</td>
		<td>10</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>Layout (TreePicker)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2396</td>
		<td>6</td>
		<td>0.2396</td>
		<td>6</td>
		<td>00:00:00.0002396</td>
		<td>6</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td>LayoutDataContext (DataContext)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0021</td>
		<td>0</td>
		<td>0.0021</td>
		<td>0</td>
		<td>00:00:00.0000021</td>
		<td>0</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td>LayoutPanel (Border)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0424</td>
		<td>0</td>
		<td>0.0519</td>
		<td>0</td>
		<td>00:00:00.0000848</td>
		<td>0</td>
		<td>20/08/2015 2:18:15 PM</td>
	</tr>
	<tr>
		<td>LayoutTab (Tab)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2529</td>
		<td>6</td>
		<td>0.2529</td>
		<td>6</td>
		<td>00:00:00.0002529</td>
		<td>6</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td>MoveDown (Button)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0253</td>
		<td>2</td>
		<td>0.0253</td>
		<td>2</td>
		<td>00:00:00.0000253</td>
		<td>2</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td>MoveUp (Button)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0241</td>
		<td>2</td>
		<td>0.0241</td>
		<td>2</td>
		<td>00:00:00.0000241</td>
		<td>2</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td>NextButton (Button)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0996</td>
		<td>2</td>
		<td>0.1551</td>
		<td>2</td>
		<td>00:00:00.0001992</td>
		<td>4</td>
		<td>20/08/2015 2:18:53 PM</td>
	</tr>
	<tr>
		<td>NoPublishingTarget (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>91.0637</td>
		<td>2</td>
		<td>91.0637</td>
		<td>2</td>
		<td>00:00:00.0910637</td>
		<td>2</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>OK (Button)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>0.1755</td>
		<td>4</td>
		<td>0.367</td>
		<td>4</td>
		<td>00:00:00.0005267</td>
		<td>12</td>
		<td>20/08/2015 2:17:39 PM</td>
	</tr>
	<tr>
		<td>OpenProperties (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2164</td>
		<td>2</td>
		<td>0.2164</td>
		<td>2</td>
		<td>00:00:00.0002164</td>
		<td>2</td>
		<td>20/08/2015 2:17:39 PM</td>
	</tr>
	<tr>
		<td>OpenPropertiesBorder (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2294</td>
		<td>2</td>
		<td>0.2294</td>
		<td>2</td>
		<td>00:00:00.0002294</td>
		<td>2</td>
		<td>20/08/2015 2:17:39 PM</td>
	</tr>
	<tr>
		<td>Personalize (Button)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0256</td>
		<td>2</td>
		<td>0.0256</td>
		<td>2</td>
		<td>00:00:00.0000256</td>
		<td>2</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td>ph_04D50F4AA3454FA29E0577061393B19E (Border)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0809</td>
		<td>4</td>
		<td>0.0848</td>
		<td>4</td>
		<td>00:00:00.0001618</td>
		<td>8</td>
		<td>20/08/2015 2:18:13 PM</td>
	</tr>
	<tr>
		<td>ph_0B1A5F33123B4FCB8254C02B584FEFD2 (Border)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0735</td>
		<td>4</td>
		<td>0.0736</td>
		<td>4</td>
		<td>00:00:00.0001470</td>
		<td>8</td>
		<td>20/08/2015 2:18:13 PM</td>
	</tr>
	<tr>
		<td>ph_167A4FFFD89A40F7AD351D5F5D237688 (Border)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0732</td>
		<td>4</td>
		<td>0.0736</td>
		<td>4</td>
		<td>00:00:00.0001464</td>
		<td>8</td>
		<td>20/08/2015 2:18:13 PM</td>
	</tr>
	<tr>
		<td>ph_23BB4362F1D04BC59344C419DCDFB703 (Border)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0729</td>
		<td>4</td>
		<td>0.073</td>
		<td>4</td>
		<td>00:00:00.0001458</td>
		<td>8</td>
		<td>20/08/2015 2:18:13 PM</td>
	</tr>
	<tr>
		<td>ph_3980A199254343F8BFFE48FE13BC3704 (Border)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0742</td>
		<td>4</td>
		<td>0.0745</td>
		<td>4</td>
		<td>00:00:00.0001485</td>
		<td>8</td>
		<td>20/08/2015 2:18:13 PM</td>
	</tr>
	<tr>
		<td>ph_5A1E2A7E36224895AE51565D339615A3 (Border)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0774</td>
		<td>4</td>
		<td>0.0778</td>
		<td>4</td>
		<td>00:00:00.0001548</td>
		<td>8</td>
		<td>20/08/2015 2:18:13 PM</td>
	</tr>
	<tr>
		<td>ph_A24B8F13D90F4F688057A1EC07C347DF (Border)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.079</td>
		<td>4</td>
		<td>0.0839</td>
		<td>4</td>
		<td>00:00:00.0001581</td>
		<td>8</td>
		<td>20/08/2015 2:18:13 PM</td>
	</tr>
	<tr>
		<td>ph_C0757B6CEA6D4FEABF2228B83F27A12B (Border)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0801</td>
		<td>4</td>
		<td>0.0863</td>
		<td>4</td>
		<td>00:00:00.0001602</td>
		<td>8</td>
		<td>20/08/2015 2:18:13 PM</td>
	</tr>
	<tr>
		<td>ph_C08F8B26631C4385909C9DDEC8EEFA3E (Border)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0739</td>
		<td>4</td>
		<td>0.0748</td>
		<td>4</td>
		<td>00:00:00.0001479</td>
		<td>8</td>
		<td>20/08/2015 2:18:13 PM</td>
	</tr>
	<tr>
		<td>phEdit (Button)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0253</td>
		<td>2</td>
		<td>0.0253</td>
		<td>2</td>
		<td>00:00:00.0000253</td>
		<td>2</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td>phRemove (Button)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0241</td>
		<td>2</td>
		<td>0.0241</td>
		<td>2</td>
		<td>00:00:00.0000241</td>
		<td>2</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td>Placeholder: placeholder</td>
		<td>shell</td>
		<td>20</td>
		<td>0</td>
		<td>63.4478</td>
		<td>154</td>
		<td>255.917</td>
		<td>854</td>
		<td>00:00:01.2689573</td>
		<td>3094</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>PlaceholderName (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0365</td>
		<td>2</td>
		<td>0.0365</td>
		<td>2</td>
		<td>00:00:00.0000365</td>
		<td>2</td>
		<td>20/08/2015 2:17:39 PM</td>
	</tr>
	<tr>
		<td>PlaceHolderNameBorder (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.14</td>
		<td>4</td>
		<td>0.14</td>
		<td>4</td>
		<td>00:00:00.0001400</td>
		<td>4</td>
		<td>20/08/2015 2:17:39 PM</td>
	</tr>
	<tr>
		<td>Placeholders (Scrollbox)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.7392</td>
		<td>36</td>
		<td>0.7465</td>
		<td>36</td>
		<td>00:00:00.0014785</td>
		<td>72</td>
		<td>20/08/2015 2:18:13 PM</td>
	</tr>
	<tr>
		<td>PlaceholdersTab (Tab)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.8446</td>
		<td>42</td>
		<td>0.8446</td>
		<td>42</td>
		<td>00:00:00.0008446</td>
		<td>42</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td>PublishChildren (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0332</td>
		<td>2</td>
		<td>0.0332</td>
		<td>2</td>
		<td>00:00:00.0000332</td>
		<td>2</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>PublishChildrenPane (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.095</td>
		<td>4</td>
		<td>0.095</td>
		<td>4</td>
		<td>00:00:00.0000950</td>
		<td>4</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>Publishing (WizardFormProgressPage_a_441)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2131</td>
		<td>6</td>
		<td>0.2131</td>
		<td>6</td>
		<td>00:00:00.0002131</td>
		<td>6</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>PublishingPanel (Groupbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.455</td>
		<td>12</td>
		<td>1.455</td>
		<td>12</td>
		<td>00:00:00.0014550</td>
		<td>12</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>PublishingTarget (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0048</td>
		<td>0</td>
		<td>0.0048</td>
		<td>0</td>
		<td>00:00:00.0000048</td>
		<td>0</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>PublishingTargets (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0096</td>
		<td>0</td>
		<td>0.0096</td>
		<td>0</td>
		<td>00:00:00.0000096</td>
		<td>0</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>PublishingTargetsPanel (Groupbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0507</td>
		<td>2</td>
		<td>0.0507</td>
		<td>2</td>
		<td>00:00:00.0000507</td>
		<td>2</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>PublishRelatedItems (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0359</td>
		<td>2</td>
		<td>0.0359</td>
		<td>2</td>
		<td>00:00:00.0000359</td>
		<td>2</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>R7137246 (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1723</td>
		<td>4</td>
		<td>0.1723</td>
		<td>4</td>
		<td>00:00:00.0001723</td>
		<td>4</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td>R7137248 (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0935</td>
		<td>4</td>
		<td>0.0935</td>
		<td>4</td>
		<td>00:00:00.0000935</td>
		<td>4</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td>R7137250 (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0787</td>
		<td>4</td>
		<td>0.0787</td>
		<td>4</td>
		<td>00:00:00.0000787</td>
		<td>4</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td>R7137252 (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0809</td>
		<td>4</td>
		<td>0.0809</td>
		<td>4</td>
		<td>00:00:00.0000809</td>
		<td>4</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td>R7137259 (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>13.2208</td>
		<td>4</td>
		<td>13.2208</td>
		<td>4</td>
		<td>00:00:00.0132208</td>
		<td>4</td>
		<td>20/08/2015 2:18:13 PM</td>
	</tr>
	<tr>
		<td>R7137261 (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1056</td>
		<td>4</td>
		<td>0.1056</td>
		<td>4</td>
		<td>00:00:00.0001056</td>
		<td>4</td>
		<td>20/08/2015 2:18:13 PM</td>
	</tr>
	<tr>
		<td>R7137263 (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0824</td>
		<td>4</td>
		<td>0.0824</td>
		<td>4</td>
		<td>00:00:00.0000824</td>
		<td>4</td>
		<td>20/08/2015 2:18:13 PM</td>
	</tr>
	<tr>
		<td>R7137265 (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0769</td>
		<td>4</td>
		<td>0.0769</td>
		<td>4</td>
		<td>00:00:00.0000769</td>
		<td>4</td>
		<td>20/08/2015 2:18:13 PM</td>
	</tr>
	<tr>
		<td>R7137267 (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0763</td>
		<td>4</td>
		<td>0.0763</td>
		<td>4</td>
		<td>00:00:00.0000763</td>
		<td>4</td>
		<td>20/08/2015 2:18:13 PM</td>
	</tr>
	<tr>
		<td>Renderings (Scrollbox)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>4.7165</td>
		<td>12</td>
		<td>13.6313</td>
		<td>20</td>
		<td>00:00:00.0141497</td>
		<td>36</td>
		<td>20/08/2015 2:18:13 PM</td>
	</tr>
	<tr>
		<td>Republish (Radiobutton)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0407</td>
		<td>2</td>
		<td>0.0407</td>
		<td>2</td>
		<td>00:00:00.0000407</td>
		<td>2</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>RepublishPane (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1512</td>
		<td>6</td>
		<td>0.1512</td>
		<td>6</td>
		<td>00:00:00.0001512</td>
		<td>6</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>ResultText (Memo)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.006</td>
		<td>0</td>
		<td>0.006</td>
		<td>0</td>
		<td>00:00:00.0000060</td>
		<td>0</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>Retry (WizardFormPage_a_439)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.8887</td>
		<td>4</td>
		<td>0.8887</td>
		<td>4</td>
		<td>00:00:00.0008887</td>
		<td>4</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>SelectAllLanguages (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0401</td>
		<td>2</td>
		<td>0.0401</td>
		<td>2</td>
		<td>00:00:00.0000401</td>
		<td>2</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>Settings (WizardFormPage_a_439)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>92.9473</td>
		<td>24</td>
		<td>92.9473</td>
		<td>24</td>
		<td>00:00:00.0929473</td>
		<td>24</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>SettingsPane (Scrollbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.6346</td>
		<td>18</td>
		<td>1.6346</td>
		<td>18</td>
		<td>00:00:00.0016346</td>
		<td>18</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>SharedLayoutTab (Tab)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2816</td>
		<td>2</td>
		<td>0.2816</td>
		<td>2</td>
		<td>00:00:00.0002816</td>
		<td>2</td>
		<td>20/08/2015 2:17:31 PM</td>
	</tr>
	<tr>
		<td>SmartPublish (Radiobutton)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0476</td>
		<td>2</td>
		<td>0.0476</td>
		<td>2</td>
		<td>00:00:00.0000476</td>
		<td>2</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>SmartPublishPane (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0606</td>
		<td>2</td>
		<td>0.0606</td>
		<td>2</td>
		<td>00:00:00.0000606</td>
		<td>2</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>Status (Literal)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0304</td>
		<td>2</td>
		<td>0.0304</td>
		<td>2</td>
		<td>00:00:00.0000304</td>
		<td>2</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>Tabs (Tabstrip)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.9048</td>
		<td>14</td>
		<td>1.9048</td>
		<td>14</td>
		<td>00:00:00.0019048</td>
		<td>14</td>
		<td>20/08/2015 2:17:31 PM</td>
	</tr>
	<tr>
		<td>Test (Button)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0247</td>
		<td>2</td>
		<td>0.0247</td>
		<td>2</td>
		<td>00:00:00.0000247</td>
		<td>2</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td>topHeader (GlobalHeader_a_423)</td>
		<td>shell</td>
		<td>4</td>
		<td>0</td>
		<td>0.0023</td>
		<td>0</td>
		<td>0.0057</td>
		<td>0</td>
		<td>00:00:00.0000093</td>
		<td>0</td>
		<td>20/08/2015 2:18:52 PM</td>
	</tr>
	<tr>
		<td>TreeSplitter (VSplitter_a_430)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.012</td>
		<td>0</td>
		<td>0.012</td>
		<td>0</td>
		<td>00:00:00.0000120</td>
		<td>0</td>
		<td>20/08/2015 2:17:39 PM</td>
	</tr>
	<tr>
		<td>TreeviewContainer (Scrollbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>254.8341</td>
		<td>836</td>
		<td>254.8341</td>
		<td>836</td>
		<td>00:00:00.2548341</td>
		<td>836</td>
		<td>20/08/2015 2:17:39 PM</td>
	</tr>
	<tr>
		<td>VTabstrip7137255 (VerticalTabstrip)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>4.0019</td>
		<td>86</td>
		<td>4.0019</td>
		<td>86</td>
		<td>00:00:00.0040019</td>
		<td>86</td>
		<td>20/08/2015 2:17:35 PM</td>
	</tr>
	<tr>
		<td>WarningTitle (Literal)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0202</td>
		<td>2</td>
		<td>0.0202</td>
		<td>2</td>
		<td>00:00:00.0000202</td>
		<td>2</td>
		<td>20/08/2015 2:17:31 PM</td>
	</tr>
</table>
