<table border="1" cellpadding="2">
	<tr>
		<td>Rendering</td>
		<td>Site</td>
		<td>Count</td>
		<td>From cache</td>
		<td>Avg. time (ms)</td>
		<td>Avg. items</td>
		<td>Max. time</td>
		<td>Max. items</td>
		<td>Total time</td>
		<td>Total items</td>
		<td>Last run</td>
	</tr>
	<tr>
		<td> (VisitorIdentification)</td>
		<td>service</td>
		<td>2</td>
		<td>0</td>
		<td>20.1665</td>
		<td>8</td>
		<td>40.231</td>
		<td>17</td>
		<td>00:00:00.0403330</td>
		<td>17</td>
		<td>20/08/2015 11:45:39 AM</td>
	</tr>
	<tr>
		<td>globalHeaderUserPortrait (ThemedImage)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>2.1801</td>
		<td>0</td>
		<td>4.3427</td>
		<td>0</td>
		<td>00:00:00.0043602</td>
		<td>0</td>
		<td>20/08/2015 11:45:41 AM</td>
	</tr>
</table>
