<table border="1" cellpadding="2">
	<tr>
		<td>Rendering</td>
		<td>Site</td>
		<td>Count</td>
		<td>From cache</td>
		<td>Avg. time (ms)</td>
		<td>Avg. items</td>
		<td>Max. time</td>
		<td>Max. items</td>
		<td>Total time</td>
		<td>Total items</td>
		<td>Last run</td>
	</tr>
	<tr>
		<td> (VisitorIdentification)</td>
		<td>service</td>
		<td>2</td>
		<td>0</td>
		<td>9.3257</td>
		<td>0</td>
		<td>18.4698</td>
		<td>0</td>
		<td>00:00:00.0186515</td>
		<td>0</td>
		<td>20/08/2015 11:21:50 AM</td>
	</tr>
	<tr>
		<td>globalHeaderUserPortrait (ThemedImage)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>2.2048</td>
		<td>0</td>
		<td>4.3823</td>
		<td>0</td>
		<td>00:00:00.0044097</td>
		<td>0</td>
		<td>20/08/2015 11:21:51 AM</td>
	</tr>
</table>
