<table border="1" cellpadding="2">
	<tr>
		<td>Rendering</td>
		<td>Site</td>
		<td>Count</td>
		<td>From cache</td>
		<td>Avg. time (ms)</td>
		<td>Avg. items</td>
		<td>Max. time</td>
		<td>Max. items</td>
		<td>Total time</td>
		<td>Total items</td>
		<td>Last run</td>
	</tr>
	<tr>
		<td> (Alert_a_376)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.7513</td>
		<td>16</td>
		<td>0.7513</td>
		<td>16</td>
		<td>00:00:00.0007513</td>
		<td>16</td>
		<td>24/08/2015 10:57:36 AM</td>
	</tr>
	<tr>
		<td> (Border)</td>
		<td>shell</td>
		<td>13</td>
		<td>0</td>
		<td>56.5613</td>
		<td>14</td>
		<td>183.5872</td>
		<td>41</td>
		<td>00:00:00.7352972</td>
		<td>183</td>
		<td>24/08/2015 10:57:36 AM</td>
	</tr>
	<tr>
		<td> (Button)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0473</td>
		<td>2</td>
		<td>0.0473</td>
		<td>2</td>
		<td>00:00:00.0000473</td>
		<td>2</td>
		<td>24/08/2015 10:57:28 AM</td>
	</tr>
	<tr>
		<td> (DocumentType)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.3391</td>
		<td>0</td>
		<td>0.6734</td>
		<td>0</td>
		<td>00:00:00.0006783</td>
		<td>0</td>
		<td>24/08/2015 10:57:36 AM</td>
	</tr>
	<tr>
		<td> (FormDialog_a_377)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.7383</td>
		<td>16</td>
		<td>0.7383</td>
		<td>16</td>
		<td>00:00:00.0007383</td>
		<td>16</td>
		<td>24/08/2015 10:57:36 AM</td>
	</tr>
	<tr>
		<td> (FormPage_a_369)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>92.8906</td>
		<td>29</td>
		<td>185.0552</td>
		<td>43</td>
		<td>00:00:00.1857812</td>
		<td>59</td>
		<td>24/08/2015 10:57:36 AM</td>
	</tr>
	<tr>
		<td> (GenericControl)</td>
		<td>shell</td>
		<td>19</td>
		<td>0</td>
		<td>19.5206</td>
		<td>8</td>
		<td>184.3362</td>
		<td>43</td>
		<td>00:00:00.3708924</td>
		<td>158</td>
		<td>24/08/2015 10:57:36 AM</td>
	</tr>
	<tr>
		<td> (GlobalHeader_a_367)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0409</td>
		<td>0</td>
		<td>0.0802</td>
		<td>0</td>
		<td>00:00:00.0000818</td>
		<td>0</td>
		<td>24/08/2015 10:57:28 AM</td>
	</tr>
	<tr>
		<td> (GlobalKeys_a_371)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0031</td>
		<td>0</td>
		<td>0.0036</td>
		<td>0</td>
		<td>00:00:00.0000063</td>
		<td>0</td>
		<td>24/08/2015 10:57:36 AM</td>
	</tr>
	<tr>
		<td> (GridPanel)</td>
		<td>shell</td>
		<td>11</td>
		<td>0</td>
		<td>34.9798</td>
		<td>12</td>
		<td>183.7726</td>
		<td>41</td>
		<td>00:00:00.3847779</td>
		<td>133</td>
		<td>24/08/2015 10:57:36 AM</td>
	</tr>
	<tr>
		<td> (KeyMap)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>6.9649</td>
		<td>19</td>
		<td>13.8122</td>
		<td>29</td>
		<td>00:00:00.0139299</td>
		<td>38</td>
		<td>24/08/2015 10:57:36 AM</td>
	</tr>
	<tr>
		<td> (Literal)</td>
		<td>shell</td>
		<td>52</td>
		<td>0</td>
		<td>0.2003</td>
		<td>1</td>
		<td>8.2172</td>
		<td>2</td>
		<td>00:00:00.0104197</td>
		<td>99</td>
		<td>24/08/2015 11:00:03 AM</td>
	</tr>
	<tr>
		<td> (OneColumnPreview_a_368)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>185.1799</td>
		<td>43</td>
		<td>185.1799</td>
		<td>43</td>
		<td>00:00:00.1851799</td>
		<td>43</td>
		<td>24/08/2015 10:56:51 AM</td>
	</tr>
	<tr>
		<td> (RegisterKey)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0288</td>
		<td>0</td>
		<td>0.0567</td>
		<td>0</td>
		<td>00:00:00.0000576</td>
		<td>0</td>
		<td>24/08/2015 10:57:36 AM</td>
	</tr>
	<tr>
		<td> (Scrollbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>183.7991</td>
		<td>41</td>
		<td>183.7991</td>
		<td>41</td>
		<td>00:00:00.1837991</td>
		<td>41</td>
		<td>24/08/2015 10:56:51 AM</td>
	</tr>
	<tr>
		<td> (Space)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2384</td>
		<td>0</td>
		<td>0.2384</td>
		<td>0</td>
		<td>00:00:00.0002384</td>
		<td>0</td>
		<td>24/08/2015 10:56:50 AM</td>
	</tr>
	<tr>
		<td> (Tab)</td>
		<td>shell</td>
		<td>5</td>
		<td>0</td>
		<td>3.3093</td>
		<td>10</td>
		<td>12.7469</td>
		<td>17</td>
		<td>00:00:00.0165465</td>
		<td>51</td>
		<td>24/08/2015 10:56:41 AM</td>
	</tr>
	<tr>
		<td> (ThemedImage)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0965</td>
		<td>0</td>
		<td>0.0965</td>
		<td>0</td>
		<td>00:00:00.0000965</td>
		<td>0</td>
		<td>24/08/2015 10:57:36 AM</td>
	</tr>
	<tr>
		<td> (WebPanel_a_370)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>92.8785</td>
		<td>29</td>
		<td>185.0383</td>
		<td>43</td>
		<td>00:00:00.1857571</td>
		<td>59</td>
		<td>24/08/2015 10:57:36 AM</td>
	</tr>
	<tr>
		<td>Cancel (Button)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>0.0633</td>
		<td>4</td>
		<td>0.0781</td>
		<td>4</td>
		<td>00:00:00.0001901</td>
		<td>12</td>
		<td>24/08/2015 10:57:36 AM</td>
	</tr>
	<tr>
		<td>CurrentPortrait (ThemedImage)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.3468</td>
		<td>0</td>
		<td>0.3468</td>
		<td>0</td>
		<td>00:00:00.0003468</td>
		<td>0</td>
		<td>24/08/2015 10:56:41 AM</td>
	</tr>
	<tr>
		<td>D340692685 (DataContext)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0854</td>
		<td>0</td>
		<td>0.0854</td>
		<td>0</td>
		<td>00:00:00.0000854</td>
		<td>0</td>
		<td>24/08/2015 10:56:51 AM</td>
	</tr>
	<tr>
		<td>FIELD340692683 (TreeList)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>183.1912</td>
		<td>41</td>
		<td>183.1912</td>
		<td>41</td>
		<td>00:00:00.1831912</td>
		<td>41</td>
		<td>24/08/2015 10:56:51 AM</td>
	</tr>
	<tr>
		<td>FIELD340692683_selected (Listbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.23</td>
		<td>0</td>
		<td>0.23</td>
		<td>0</td>
		<td>00:00:00.0002300</td>
		<td>0</td>
		<td>24/08/2015 10:56:51 AM</td>
	</tr>
	<tr>
		<td>Fields (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>183.6358</td>
		<td>41</td>
		<td>183.6358</td>
		<td>41</td>
		<td>00:00:00.1836358</td>
		<td>41</td>
		<td>24/08/2015 10:56:51 AM</td>
	</tr>
	<tr>
		<td>globalHeaderUserPortrait (ThemedImage)</td>
		<td>shell</td>
		<td>4</td>
		<td>0</td>
		<td>0.386</td>
		<td>0</td>
		<td>1.0864</td>
		<td>0</td>
		<td>00:00:00.0015443</td>
		<td>0</td>
		<td>24/08/2015 11:00:03 AM</td>
	</tr>
	<tr>
		<td>HeaderLiteral (Literal)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0561</td>
		<td>2</td>
		<td>0.076</td>
		<td>2</td>
		<td>00:00:00.0001122</td>
		<td>4</td>
		<td>24/08/2015 10:57:28 AM</td>
	</tr>
	<tr>
		<td>IsAdministrator (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.9258</td>
		<td>0</td>
		<td>0.9258</td>
		<td>0</td>
		<td>00:00:00.0009258</td>
		<td>0</td>
		<td>24/08/2015 10:56:41 AM</td>
	</tr>
	<tr>
		<td>OK (Button)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>0.1733</td>
		<td>4</td>
		<td>0.3601</td>
		<td>4</td>
		<td>00:00:00.0005201</td>
		<td>12</td>
		<td>24/08/2015 10:57:36 AM</td>
	</tr>
	<tr>
		<td>Placeholder: buttons</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.003</td>
		<td>0</td>
		<td>0.0036</td>
		<td>0</td>
		<td>00:00:00.0000060</td>
		<td>0</td>
		<td>24/08/2015 10:57:28 AM</td>
	</tr>
	<tr>
		<td>Placeholder: content</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>15.5579</td>
		<td>37</td>
		<td>25.8687</td>
		<td>61</td>
		<td>00:00:00.0311158</td>
		<td>75</td>
		<td>24/08/2015 10:57:28 AM</td>
	</tr>
	<tr>
		<td>Placeholder: dialogbuttons</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.2857</td>
		<td>8</td>
		<td>0.4205</td>
		<td>8</td>
		<td>00:00:00.0005714</td>
		<td>16</td>
		<td>24/08/2015 10:57:28 AM</td>
	</tr>
	<tr>
		<td>Placeholder: placeholder</td>
		<td>shell</td>
		<td>11</td>
		<td>0</td>
		<td>42.2326</td>
		<td>35</td>
		<td>184.0587</td>
		<td>73</td>
		<td>00:00:00.4645594</td>
		<td>385</td>
		<td>24/08/2015 10:57:36 AM</td>
	</tr>
	<tr>
		<td>Placeholder: scripts</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0027</td>
		<td>0</td>
		<td>0.0033</td>
		<td>0</td>
		<td>00:00:00.0000054</td>
		<td>0</td>
		<td>24/08/2015 10:57:28 AM</td>
	</tr>
	<tr>
		<td>Placeholder: stylesheets</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>2.4068</td>
		<td>0</td>
		<td>4.8055</td>
		<td>0</td>
		<td>00:00:00.0048136</td>
		<td>0</td>
		<td>24/08/2015 10:57:28 AM</td>
	</tr>
	<tr>
		<td>Placeholder: toolbar</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0031</td>
		<td>0</td>
		<td>0.0033</td>
		<td>0</td>
		<td>00:00:00.0000063</td>
		<td>0</td>
		<td>24/08/2015 10:57:28 AM</td>
	</tr>
	<tr>
		<td>Portrait (ThemedImage)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1759</td>
		<td>0</td>
		<td>0.1759</td>
		<td>0</td>
		<td>00:00:00.0001759</td>
		<td>0</td>
		<td>24/08/2015 10:57:28 AM</td>
	</tr>
	<tr>
		<td>PortraitImage (ThemedImage)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2544</td>
		<td>0</td>
		<td>0.2544</td>
		<td>0</td>
		<td>00:00:00.0002544</td>
		<td>0</td>
		<td>24/08/2015 10:56:41 AM</td>
	</tr>
	<tr>
		<td>Properties (Scrollbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>1.2711</td>
		<td>0</td>
		<td>1.2711</td>
		<td>0</td>
		<td>00:00:00.0012711</td>
		<td>0</td>
		<td>24/08/2015 10:56:41 AM</td>
	</tr>
	<tr>
		<td>PropertiesFrame (Frame)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.7848</td>
		<td>0</td>
		<td>0.7848</td>
		<td>0</td>
		<td>00:00:00.0007848</td>
		<td>0</td>
		<td>24/08/2015 10:56:41 AM</td>
	</tr>
	<tr>
		<td>RandomPassword (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.4274</td>
		<td>2</td>
		<td>0.4274</td>
		<td>2</td>
		<td>00:00:00.0004274</td>
		<td>2</td>
		<td>24/08/2015 10:57:28 AM</td>
	</tr>
	<tr>
		<td>S340692684 (Scrollbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>182.6578</td>
		<td>37</td>
		<td>182.6578</td>
		<td>37</td>
		<td>00:00:00.1826578</td>
		<td>37</td>
		<td>24/08/2015 10:56:51 AM</td>
	</tr>
	<tr>
		<td>scMessage (Literal)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0374</td>
		<td>2</td>
		<td>0.0374</td>
		<td>2</td>
		<td>00:00:00.0000374</td>
		<td>2</td>
		<td>24/08/2015 10:57:36 AM</td>
	</tr>
	<tr>
		<td>scSections (GenericControl)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.1612</td>
		<td>0</td>
		<td>0.1612</td>
		<td>0</td>
		<td>00:00:00.0001612</td>
		<td>0</td>
		<td>24/08/2015 10:56:50 AM</td>
	</tr>
	<tr>
		<td>TabStrip (Tabstrip)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>25.8518</td>
		<td>61</td>
		<td>25.8518</td>
		<td>61</td>
		<td>00:00:00.0258518</td>
		<td>61</td>
		<td>24/08/2015 10:56:41 AM</td>
	</tr>
	<tr>
		<td>TextLiteral (Literal)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0335</td>
		<td>2</td>
		<td>0.0341</td>
		<td>2</td>
		<td>00:00:00.0000670</td>
		<td>4</td>
		<td>24/08/2015 10:57:28 AM</td>
	</tr>
	<tr>
		<td>topHeader (GlobalHeader_a_367)</td>
		<td>shell</td>
		<td>2</td>
		<td>0</td>
		<td>0.0018</td>
		<td>0</td>
		<td>0.0021</td>
		<td>0</td>
		<td>00:00:00.0000036</td>
		<td>0</td>
		<td>24/08/2015 10:57:36 AM</td>
	</tr>
	<tr>
		<td>UserName (Literal)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0646</td>
		<td>2</td>
		<td>0.0646</td>
		<td>2</td>
		<td>00:00:00.0000646</td>
		<td>2</td>
		<td>24/08/2015 10:56:41 AM</td>
	</tr>
</table>
