<table border="1" cellpadding="2">
	<tr>
		<td>Rendering</td>
		<td>Site</td>
		<td>Count</td>
		<td>From cache</td>
		<td>Avg. time (ms)</td>
		<td>Avg. items</td>
		<td>Max. time</td>
		<td>Max. items</td>
		<td>Total time</td>
		<td>Total items</td>
		<td>Last run</td>
	</tr>
	<tr>
		<td>CancelButton (Button)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>11.3248</td>
		<td>3</td>
		<td>11.3248</td>
		<td>3</td>
		<td>00:00:00.0113248</td>
		<td>3</td>
		<td>19/08/2015 4:28:45 PM</td>
	</tr>
</table>
