<table border="1" cellpadding="2">
	<tr>
		<td>Rendering</td>
		<td>Site</td>
		<td>Count</td>
		<td>From cache</td>
		<td>Avg. time (ms)</td>
		<td>Avg. items</td>
		<td>Max. time</td>
		<td>Max. items</td>
		<td>Total time</td>
		<td>Total items</td>
		<td>Last run</td>
	</tr>
	<tr>
		<td> (VisitorIdentification)</td>
		<td>service</td>
		<td>2</td>
		<td>0</td>
		<td>1736.8281</td>
		<td>8</td>
		<td>3473.523</td>
		<td>17</td>
		<td>00:00:03.4736562</td>
		<td>17</td>
		<td>20/08/2015 11:01:29 AM</td>
	</tr>
	<tr>
		<td> (Border)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>26.7668</td>
		<td>177</td>
		<td>137.598</td>
		<td>193</td>
		<td>00:00:00.1606008</td>
		<td>1065</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td> (DocumentType)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.0787</td>
		<td>0</td>
		<td>0.4491</td>
		<td>0</td>
		<td>00:00:00.0004724</td>
		<td>0</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td> (FormPage_a_363)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>28.613</td>
		<td>193</td>
		<td>141.1287</td>
		<td>209</td>
		<td>00:00:00.1716781</td>
		<td>1161</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td> (GenericControl)</td>
		<td>shell</td>
		<td>78</td>
		<td>0</td>
		<td>8.5936</td>
		<td>60</td>
		<td>140.6512</td>
		<td>209</td>
		<td>00:00:00.6703047</td>
		<td>4704</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td> (GlobalKeys_a_366)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.0035</td>
		<td>0</td>
		<td>0.0075</td>
		<td>0</td>
		<td>00:00:00.0000211</td>
		<td>0</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td> (GridPanel)</td>
		<td>shell</td>
		<td>18</td>
		<td>0</td>
		<td>17.5433</td>
		<td>118</td>
		<td>136.8451</td>
		<td>193</td>
		<td>00:00:00.3157800</td>
		<td>2130</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td> (Image)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.0145</td>
		<td>0</td>
		<td>0.0187</td>
		<td>0</td>
		<td>00:00:00.0000875</td>
		<td>0</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td> (KeyMap)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>3.9036</td>
		<td>11</td>
		<td>22.8162</td>
		<td>28</td>
		<td>00:00:00.0234220</td>
		<td>67</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td> (Literal)</td>
		<td>shell</td>
		<td>36</td>
		<td>0</td>
		<td>0.0469</td>
		<td>2</td>
		<td>0.2671</td>
		<td>2</td>
		<td>00:00:00.0016917</td>
		<td>72</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td> (RegisterKey)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.0146</td>
		<td>0</td>
		<td>0.0818</td>
		<td>0</td>
		<td>00:00:00.0000881</td>
		<td>0</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td> (Sitecore_Shell_Applications_Dialogs_SelectRendering_a_361)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>28.6754</td>
		<td>193</td>
		<td>141.257</td>
		<td>209</td>
		<td>00:00:00.1720527</td>
		<td>1161</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td> (Space)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.0455</td>
		<td>0</td>
		<td>0.2553</td>
		<td>0</td>
		<td>00:00:00.0002734</td>
		<td>0</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td> (WebPanel_a_364)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>28.6061</td>
		<td>193</td>
		<td>141.1185</td>
		<td>209</td>
		<td>00:00:00.1716370</td>
		<td>1161</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td>Cancel (Button)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.0542</td>
		<td>4</td>
		<td>0.0857</td>
		<td>4</td>
		<td>00:00:00.0003257</td>
		<td>24</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td>DataContext (DataContext)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.1493</td>
		<td>0</td>
		<td>0.4823</td>
		<td>0</td>
		<td>00:00:00.0008962</td>
		<td>0</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td>Dialog (FormDialog_a_362)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>28.6462</td>
		<td>193</td>
		<td>141.1408</td>
		<td>209</td>
		<td>00:00:00.1718773</td>
		<td>1161</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td>globalHeaderUserPortrait (ThemedImage)</td>
		<td>shell</td>
		<td>13</td>
		<td>0</td>
		<td>0.356</td>
		<td>0</td>
		<td>4.4097</td>
		<td>0</td>
		<td>00:00:00.0046286</td>
		<td>0</td>
		<td>20/08/2015 11:04:57 AM</td>
	</tr>
	<tr>
		<td>OK (Button)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.1971</td>
		<td>4</td>
		<td>0.8389</td>
		<td>4</td>
		<td>00:00:00.0011827</td>
		<td>24</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td>OpenProperties (Checkbox)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.1418</td>
		<td>2</td>
		<td>0.7287</td>
		<td>2</td>
		<td>00:00:00.0008512</td>
		<td>12</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td>OpenPropertiesBorder (Border)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.1519</td>
		<td>2</td>
		<td>0.7432</td>
		<td>2</td>
		<td>00:00:00.0009119</td>
		<td>12</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td>Placeholder: placeholder</td>
		<td>shell</td>
		<td>24</td>
		<td>0</td>
		<td>20.62</td>
		<td>140</td>
		<td>140.1697</td>
		<td>207</td>
		<td>00:00:00.4948803</td>
		<td>3375</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td>PlaceholderName (Edit)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.0632</td>
		<td>2</td>
		<td>0.2421</td>
		<td>2</td>
		<td>00:00:00.0003797</td>
		<td>12</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td>PlaceHolderNameBorder (Border)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.1448</td>
		<td>4</td>
		<td>0.3217</td>
		<td>4</td>
		<td>00:00:00.0008693</td>
		<td>24</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td>Renderings (Scrollbox)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.0212</td>
		<td>0</td>
		<td>0.0304</td>
		<td>0</td>
		<td>00:00:00.0001273</td>
		<td>0</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td>topHeader (GlobalHeader_a_365)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.0019</td>
		<td>0</td>
		<td>0.0048</td>
		<td>0</td>
		<td>00:00:00.0000117</td>
		<td>0</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
	<tr>
		<td>TreeviewContainer (Scrollbox)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>25.8618</td>
		<td>173</td>
		<td>134.0896</td>
		<td>189</td>
		<td>00:00:00.1551713</td>
		<td>1041</td>
		<td>20/08/2015 11:04:55 AM</td>
	</tr>
</table>
