<table border="1" cellpadding="2">
	<tr>
		<td>Rendering</td>
		<td>Site</td>
		<td>Count</td>
		<td>From cache</td>
		<td>Avg. time (ms)</td>
		<td>Avg. items</td>
		<td>Max. time</td>
		<td>Max. items</td>
		<td>Total time</td>
		<td>Total items</td>
		<td>Last run</td>
	</tr>
	<tr>
		<td> (VisitorIdentification)</td>
		<td>service</td>
		<td>2</td>
		<td>0</td>
		<td>2748.8771</td>
		<td>1</td>
		<td>5497.5982</td>
		<td>2</td>
		<td>00:00:05.4977543</td>
		<td>2</td>
		<td>20/08/2015 12:30:30 PM</td>
	</tr>
	<tr>
		<td> (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>179.2955</td>
		<td>186</td>
		<td>179.2955</td>
		<td>186</td>
		<td>00:00:00.1792955</td>
		<td>186</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td> (DocumentType)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.5475</td>
		<td>0</td>
		<td>0.5475</td>
		<td>0</td>
		<td>00:00:00.0005475</td>
		<td>0</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td> (FormPage_a_363)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>182.8298</td>
		<td>202</td>
		<td>182.8298</td>
		<td>202</td>
		<td>00:00:00.1828298</td>
		<td>202</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td> (GenericControl)</td>
		<td>shell</td>
		<td>13</td>
		<td>0</td>
		<td>55.9516</td>
		<td>62</td>
		<td>182.2415</td>
		<td>202</td>
		<td>00:00:00.7273712</td>
		<td>818</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td> (GlobalKeys_a_366)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0054</td>
		<td>0</td>
		<td>0.0054</td>
		<td>0</td>
		<td>00:00:00.0000054</td>
		<td>0</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td> (GridPanel)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>117.915</td>
		<td>124</td>
		<td>178.4267</td>
		<td>186</td>
		<td>00:00:00.3537451</td>
		<td>372</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td> (Image)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0223</td>
		<td>0</td>
		<td>0.0223</td>
		<td>0</td>
		<td>00:00:00.0000223</td>
		<td>0</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td> (KeyMap)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>21.9833</td>
		<td>28</td>
		<td>21.9833</td>
		<td>28</td>
		<td>00:00:00.0219833</td>
		<td>28</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td> (Literal)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.0992</td>
		<td>2</td>
		<td>0.3966</td>
		<td>2</td>
		<td>00:00:00.0005955</td>
		<td>12</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td> (RegisterKey)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0567</td>
		<td>0</td>
		<td>0.0567</td>
		<td>0</td>
		<td>00:00:00.0000567</td>
		<td>0</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td> (Sitecore_Shell_Applications_Dialogs_SelectRendering_a_361)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>183.0263</td>
		<td>202</td>
		<td>183.0263</td>
		<td>202</td>
		<td>00:00:00.1830263</td>
		<td>202</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td> (Space)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.2342</td>
		<td>0</td>
		<td>0.2342</td>
		<td>0</td>
		<td>00:00:00.0002342</td>
		<td>0</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td> (WebPanel_a_364)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>182.815</td>
		<td>202</td>
		<td>182.815</td>
		<td>202</td>
		<td>00:00:00.1828150</td>
		<td>202</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td>Cancel (Button)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0673</td>
		<td>4</td>
		<td>0.0673</td>
		<td>4</td>
		<td>00:00:00.0000673</td>
		<td>4</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td>DataContext (DataContext)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.5669</td>
		<td>0</td>
		<td>0.5669</td>
		<td>0</td>
		<td>00:00:00.0005669</td>
		<td>0</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td>Dialog (FormDialog_a_362)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>182.8479</td>
		<td>202</td>
		<td>182.8479</td>
		<td>202</td>
		<td>00:00:00.1828479</td>
		<td>202</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td>globalHeaderUserPortrait (ThemedImage)</td>
		<td>shell</td>
		<td>3</td>
		<td>0</td>
		<td>1.3791</td>
		<td>0</td>
		<td>4.1063</td>
		<td>0</td>
		<td>00:00:00.0041374</td>
		<td>0</td>
		<td>20/08/2015 12:31:04 PM</td>
	</tr>
	<tr>
		<td>OK (Button)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.9868</td>
		<td>4</td>
		<td>0.9868</td>
		<td>4</td>
		<td>00:00:00.0009868</td>
		<td>4</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td>OpenProperties (Checkbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.7404</td>
		<td>2</td>
		<td>0.7404</td>
		<td>2</td>
		<td>00:00:00.0007404</td>
		<td>2</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td>OpenPropertiesBorder (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.7567</td>
		<td>2</td>
		<td>0.7567</td>
		<td>2</td>
		<td>00:00:00.0007567</td>
		<td>2</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td>Placeholder: placeholder</td>
		<td>shell</td>
		<td>4</td>
		<td>0</td>
		<td>135.7011</td>
		<td>147</td>
		<td>181.6335</td>
		<td>200</td>
		<td>00:00:00.5428044</td>
		<td>588</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td>PlaceholderName (Edit)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.3266</td>
		<td>2</td>
		<td>0.3266</td>
		<td>2</td>
		<td>00:00:00.0003266</td>
		<td>2</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td>PlaceHolderNameBorder (Border)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.4633</td>
		<td>4</td>
		<td>0.4633</td>
		<td>4</td>
		<td>00:00:00.0004633</td>
		<td>4</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td>Renderings (Scrollbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0365</td>
		<td>0</td>
		<td>0.0365</td>
		<td>0</td>
		<td>00:00:00.0000365</td>
		<td>0</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td>topHeader (GlobalHeader_a_365)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>0.0069</td>
		<td>0</td>
		<td>0.0069</td>
		<td>0</td>
		<td>00:00:00.0000069</td>
		<td>0</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
	<tr>
		<td>TreeviewContainer (Scrollbox)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>174.6865</td>
		<td>182</td>
		<td>174.6865</td>
		<td>182</td>
		<td>00:00:00.1746865</td>
		<td>182</td>
		<td>20/08/2015 12:30:56 PM</td>
	</tr>
</table>
