<table border="1" cellpadding="2">
	<tr>
		<td>Rendering</td>
		<td>Site</td>
		<td>Count</td>
		<td>From cache</td>
		<td>Avg. time (ms)</td>
		<td>Avg. items</td>
		<td>Max. time</td>
		<td>Max. items</td>
		<td>Total time</td>
		<td>Total items</td>
		<td>Last run</td>
	</tr>
	<tr>
		<td> (VisitorIdentification)</td>
		<td>service</td>
		<td>1</td>
		<td>0</td>
		<td>7651.4012</td>
		<td>45</td>
		<td>7651.4012</td>
		<td>45</td>
		<td>00:00:07.6514012</td>
		<td>45</td>
		<td>20/08/2015 12:47:00 PM</td>
	</tr>
	<tr>
		<td> (Border)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>33.2819</td>
		<td>191</td>
		<td>176.2019</td>
		<td>192</td>
		<td>00:00:00.1996916</td>
		<td>1147</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td> (DocumentType)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.0722</td>
		<td>0</td>
		<td>0.4099</td>
		<td>0</td>
		<td>00:00:00.0004334</td>
		<td>0</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td> (FormPage_a_372)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>34.3729</td>
		<td>207</td>
		<td>179.9892</td>
		<td>208</td>
		<td>00:00:00.2062374</td>
		<td>1243</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td> (GenericControl)</td>
		<td>shell</td>
		<td>78</td>
		<td>0</td>
		<td>10.4955</td>
		<td>64</td>
		<td>179.5436</td>
		<td>208</td>
		<td>00:00:00.8186499</td>
		<td>5032</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td> (GlobalKeys_a_375)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.003</td>
		<td>0</td>
		<td>0.0048</td>
		<td>0</td>
		<td>00:00:00.0000184</td>
		<td>0</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td> (GridPanel)</td>
		<td>shell</td>
		<td>18</td>
		<td>0</td>
		<td>21.8872</td>
		<td>127</td>
		<td>175.4291</td>
		<td>192</td>
		<td>00:00:00.3939706</td>
		<td>2294</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td> (Image)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.0163</td>
		<td>0</td>
		<td>0.0268</td>
		<td>0</td>
		<td>00:00:00.0000978</td>
		<td>0</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td> (KeyMap)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>4.3215</td>
		<td>12</td>
		<td>20.9358</td>
		<td>29</td>
		<td>00:00:00.0259294</td>
		<td>74</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td> (Literal)</td>
		<td>shell</td>
		<td>36</td>
		<td>0</td>
		<td>0.0524</td>
		<td>2</td>
		<td>0.4232</td>
		<td>2</td>
		<td>00:00:00.0018873</td>
		<td>72</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td> (RegisterKey)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.0104</td>
		<td>0</td>
		<td>0.0561</td>
		<td>0</td>
		<td>00:00:00.0000624</td>
		<td>0</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td> (Sitecore_Shell_Applications_Dialogs_SelectRendering_a_370)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>34.4134</td>
		<td>207</td>
		<td>180.1522</td>
		<td>208</td>
		<td>00:00:00.2064807</td>
		<td>1243</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td> (Space)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.0492</td>
		<td>0</td>
		<td>0.2737</td>
		<td>0</td>
		<td>00:00:00.0002955</td>
		<td>0</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td> (WebPanel_a_373)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>34.3653</td>
		<td>207</td>
		<td>179.9741</td>
		<td>208</td>
		<td>00:00:00.2061921</td>
		<td>1243</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td>Cancel (Button)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.0443</td>
		<td>4</td>
		<td>0.0501</td>
		<td>4</td>
		<td>00:00:00.0002662</td>
		<td>24</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td>DataContext (DataContext)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.1451</td>
		<td>0</td>
		<td>0.4863</td>
		<td>0</td>
		<td>00:00:00.0008709</td>
		<td>0</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td>Dialog (FormDialog_a_371)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>34.381</td>
		<td>207</td>
		<td>180.0064</td>
		<td>208</td>
		<td>00:00:00.2062863</td>
		<td>1243</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td>globalHeaderUserPortrait (ThemedImage)</td>
		<td>shell</td>
		<td>12</td>
		<td>0</td>
		<td>0.3188</td>
		<td>0</td>
		<td>3.6466</td>
		<td>0</td>
		<td>00:00:00.0038256</td>
		<td>0</td>
		<td>20/08/2015 12:53:31 PM</td>
	</tr>
	<tr>
		<td>OK (Button)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.1876</td>
		<td>4</td>
		<td>0.8458</td>
		<td>4</td>
		<td>00:00:00.0011256</td>
		<td>24</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td>OpenProperties (Checkbox)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.14</td>
		<td>2</td>
		<td>0.7163</td>
		<td>2</td>
		<td>00:00:00.0008404</td>
		<td>12</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td>OpenPropertiesBorder (Border)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.1511</td>
		<td>2</td>
		<td>0.735</td>
		<td>2</td>
		<td>00:00:00.0009071</td>
		<td>12</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td>Placeholder: placeholder</td>
		<td>shell</td>
		<td>24</td>
		<td>0</td>
		<td>25.3276</td>
		<td>150</td>
		<td>178.8342</td>
		<td>206</td>
		<td>00:00:00.6078635</td>
		<td>3621</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td>PlaceholderName (Edit)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.0619</td>
		<td>2</td>
		<td>0.2544</td>
		<td>2</td>
		<td>00:00:00.0003716</td>
		<td>12</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td>PlaceHolderNameBorder (Border)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.1393</td>
		<td>4</td>
		<td>0.3498</td>
		<td>4</td>
		<td>00:00:00.0008358</td>
		<td>24</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td>Renderings (Scrollbox)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.018</td>
		<td>0</td>
		<td>0.0244</td>
		<td>0</td>
		<td>00:00:00.0001083</td>
		<td>0</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td>topHeader (GlobalHeader_a_374)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>0.0021</td>
		<td>0</td>
		<td>0.0063</td>
		<td>0</td>
		<td>00:00:00.0000129</td>
		<td>0</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
	<tr>
		<td>TreeviewContainer (Scrollbox)</td>
		<td>shell</td>
		<td>6</td>
		<td>0</td>
		<td>32.3806</td>
		<td>187</td>
		<td>172.6663</td>
		<td>188</td>
		<td>00:00:00.1942838</td>
		<td>1123</td>
		<td>20/08/2015 12:53:29 PM</td>
	</tr>
</table>
