<table border="1" cellpadding="2">
	<tr>
		<td>Rendering</td>
		<td>Site</td>
		<td>Count</td>
		<td>From cache</td>
		<td>Avg. time (ms)</td>
		<td>Avg. items</td>
		<td>Max. time</td>
		<td>Max. items</td>
		<td>Total time</td>
		<td>Total items</td>
		<td>Last run</td>
	</tr>
	<tr>
		<td>globalHeaderUserPortrait (ThemedImage)</td>
		<td>shell</td>
		<td>1</td>
		<td>0</td>
		<td>9.9026</td>
		<td>0</td>
		<td>9.9026</td>
		<td>0</td>
		<td>00:00:00.0099026</td>
		<td>0</td>
		<td>24/08/2015 3:34:40 PM</td>
	</tr>
</table>
