<table border="1" cellpadding="2">
	<tr>
		<td>Rendering</td>
		<td>Site</td>
		<td>Count</td>
		<td>From cache</td>
		<td>Avg. time (ms)</td>
		<td>Avg. items</td>
		<td>Max. time</td>
		<td>Max. items</td>
		<td>Total time</td>
		<td>Total items</td>
		<td>Last run</td>
	</tr>
	<tr>
		<td> (VisitorIdentification)</td>
		<td>service</td>
		<td>2</td>
		<td>0</td>
		<td>9.2602</td>
		<td>0</td>
		<td>18.4021</td>
		<td>0</td>
		<td>00:00:00.0185205</td>
		<td>0</td>
		<td>20/08/2015 3:47:21 PM</td>
	</tr>
</table>
