﻿@model LaunchSitecore.Models.BottomWidget


<div class="bottom_widget content-child-widget">
    @Html.Sitecore().Field("Image", Model.Item)
    <h4>@Html.Sitecore().Field("Title", Model.Item)</h4>
    @Html.Sitecore().Field("Content", Model.Item)
    <a href="#" class="btn btn-primary">@Html.Sitecore().Field("Link Text", Model.Item)</a>
</div>



