﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
<script src="~/assets/js/jquery-1.7.2.min.js"></script>
<script>
    var $j = jQuery.noConflict();
    var sitecore = {};
    var id = 2;
    sitecore.testSend = function(title, link, notes) {

        $j.post("Database/TrySave", { id: id}, function () {
            console.log("Good");
            sitecore.testGet();
        }).fail(function () {
            console.log("Failed to Send ...");
        });
        id++;
    }

    sitecore.testGet = function () {


        $j.get("Database/TryGet", function (data) {
            console.log("Good");
            console.log(data);
            
            $j("#data-container").html(data);
        }).fail(function () {
            console.log("Failed to Get ...");
        });
    }
    
</script>

<div class="span12">
    <div class="row">
        <h2>Database Testing</h2>
        <br>
        <input type="text" id="title" style="margin-left: 15px;">
        <input type="text" id="url" style="margin-left: 15px;">
        <input type="text" id="notes" style="margin-left: 15px;">
        <input type="button" class="btn btn-primary" value="Send" onclick="sitecore.testSend()">
    </div>
    <section id="data-container">
        <script>
            sitecore.testGet();
        </script>
    </section>
</div>

