﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel


<div class="span3 content-child-widget right_widget">
    <h4>Are you experiencing Financial Difficulty?</h4>
    <input type="button" value="Find out more >" class="btn btn-primary">
</div>