﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items;
@using Sitecore.Links;
@model RenderingModel

<div class="row">
    <ul class="mainMenu">
        <a href="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem("/sitecore/content/home"))"><li>
            @Sitecore.Context.Database.GetItem("/sitecore/content/home")["Menu Title"]
        </li></a>
        @foreach (Item menuItem in Sitecore.Context.Database.GetItem("/sitecore/content/home").Children)
        {
            if (menuItem["Menu Title"] != "")
            {
                <a href="@Sitecore.Links.LinkManager.GetItemUrl(menuItem)">
                    <li>
                        @menuItem["Menu Title"]

                    </li>
                </a>
            }
        }
    </ul>  
</div>