﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel

<div class="span3 content-child-widget right_widget">
    <h4>Rates</h4>
    <img src="~/assets/img/icn-rates-blue.gif" />
    <p>All our deposit and lending rates in one convenient location</p>
    <input type="button" value="Find out more >" class="btn btn-primary">
</div>