﻿@using Sitecore.Mvc

<!DOCTYPE html>
<html>
<head>
    <title>
        @Html.Sitecore().Controller("Meta", "PageTitle")
    </title>
    <meta name="robots" content="follow, index" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/Delphi.css" />
    <script src="~/assets/js/jquery-1.7.2.min.js"></script>


</head>
<body id="mainbody">
    <div id="header" class="row parent">
        <div class="span12">
            <div class="row">
                <div class="span3">
                    @Html.Sitecore().Placeholder("logo")
                </div>
                <div class="span9">
                    @Html.Sitecore().Placeholder("navRight")
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    @Html.Sitecore().Placeholder("mainNav")
                </div>
            </div>
        </div>
    </div>
    <div class="imageBackground">
        <div id="content" class="row parent">
            <div class="row">
                <div class="span9">
                    <div class="row">
                        <div class="span9">
                            @Html.Sitecore().Placeholder("imageSlider")
                        </div>
                    </div>
                    <div class="row">
                        <div class="span3">
                            @Html.Sitecore().Placeholder("aboutUs")
                        </div>
                        <div class="span3">
                            @Html.Sitecore().Placeholder("businessBanking")
                        </div>
                        <div class="span3">
                            @Html.Sitecore().Placeholder("personalBanking")
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="row">
                        @Html.Sitecore().Placeholder("internetbankings")
                    </div>
                    <div class="row">
                        @Html.Sitecore().Placeholder("financialDifficulty")
                    </div>
                    <div class="row">
                        @Html.Sitecore().Placeholder("contactUs")
                    </div>
                    <div class="row">
                        @Html.Sitecore().Placeholder("rates")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="row parent">
        <div class="span12">
            <div class="row">
                @Html.Sitecore().Placeholder("database")
            </div>
        </div>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='/assets/js/jquery-1.7.2.min.js'><\/script>")</script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/custom.js"></script>
</body>
</html>