﻿body {
}

.parent{
    width: 940px;
    margin: 0 auto;    
}

.imageBackground {
    min-width : 85%;
    padding: 20px;
    background: url("http://www.delphibank.com.au/Sitefinity/WebsiteTemplates/Default/App_Themes/Default/images/bg_content_pattern.gif");
}

.row {
   
    padding-top: 20px;  
}

.content-child-widget {
    min-width: 220px;
    height: auto;
    position: relative;
    border-radius: 10px;
}

.image_slider {
    background: #e94826;
    width: 100%;
}

.ib_portal {

    background: #e94826 !important;
    
}

    .ib_portal input {
        width: 185px;
    }

    .ib_portal select {
        width: 185px;
    }

.contact_us {

    background: white !important;
}

    .contact_us p {
        color: #242d3e !important;
    }

.bottom_widget{

    min-width: 220px;

    background: #3d4554;
    min-height: 356px;
    margin-top: 15px;
}

    .bottom_widget p  {
    
        color: #ced0d4;
        font-size: 11px;
        line-height: 14px;
        padding: 0 15px;
    }
    .bottom_widget input, .bottom_widget a {

        margin-left: 15px;
        position: absolute;
        bottom: 10px;
    }   


h4 {
    color: white;
    font-weight: bold;
}

.phoneNumber {
    color: #e94826;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Archer', Arial, sans-serif;
}

.bottom_widget h4{
    padding: 15px;
}

.span4 {
    width: auto;
}

.right_widget {
    background: #242d3e;
    padding: 15px;
    width: inherit;
}
    .right_widget p {
        color: #ced0d4;
        font-size: 11px;
        line-height: 14px;
        margin: 10px 0;
    }

/* menu */
.mainMenu {

   width: 940px;
   background: url('http://www.delphibank.com.au/Sitefinity/WebsiteTemplates/Default/App_Themes/Default/images/Nav_bg_tall.png') repeat-x;
   height: 80px;
   border-radius: 10px 10px 0 0;
   margin: 0 0 0 0;
   z-index: 100;
   top: 40px;
   position: relative;
}

.mainMenu li{
    cursor: pointer;
    float: left;
    color: #0c1629 !important;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.mainMenu li:hover{

    color: white !important;
    font-weight: bold;
    background: #0c1629;

}

.mainMenu li a{
    text-decoration: none;
    color: inherit;
}